<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,496}</string>
                <key>spriteSourceSize</key>
                <string>{392,496}</string>
                <key>textureRect</key>
                <string>{{1,1},{392,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,475}</string>
                <key>spriteSourceSize</key>
                <string>{356,475}</string>
                <key>textureRect</key>
                <string>{{789,1},{356,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,468}</string>
                <key>spriteSourceSize</key>
                <string>{369,468}</string>
                <key>textureRect</key>
                <string>{{1520,1},{369,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,469}</string>
                <key>spriteSourceSize</key>
                <string>{371,469}</string>
                <key>textureRect</key>
                <string>{{1147,1},{371,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,468}</string>
                <key>spriteSourceSize</key>
                <string>{369,468}</string>
                <key>textureRect</key>
                <string>{{1520,1},{369,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,496}</string>
                <key>spriteSourceSize</key>
                <string>{392,496}</string>
                <key>textureRect</key>
                <string>{{395,1},{392,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>deadler.png</string>
            <key>size</key>
            <string>{1890,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51708fa9b2b17a5a606f5277d8ce438a:9d8e54598b8761c3cfcfd20d4749cf63:e2ac7bdf2835c1c756e7261cb80cbb17$</string>
            <key>textureFileName</key>
            <string>deadler.png</string>
        </dict>
    </dict>
</plist>
