<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,398}</string>
                <key>spriteSourceSize</key>
                <string>{340,398}</string>
                <key>textureRect</key>
                <string>{{1,405},{340,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,402}</string>
                <key>spriteSourceSize</key>
                <string>{340,402}</string>
                <key>textureRect</key>
                <string>{{1,1},{340,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>deadler.png</string>
            <key>size</key>
            <string>{342,804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b6d8acb7b3a7a059fbf56754ef52a63:d7e849d537bc8bfd05ff5dcb94837ad3:e2ac7bdf2835c1c756e7261cb80cbb17$</string>
            <key>textureFileName</key>
            <string>deadler.png</string>
        </dict>
    </dict>
</plist>
