<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baucua-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{287,400},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baucua-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{310,332},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-cricle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,305}</string>
                <key>spriteSourceSize</key>
                <string>{305,305}</string>
                <key>textureRect</key>
                <string>{{1,1},{305,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,32}</string>
                <key>spriteSourceSize</key>
                <string>{71,32}</string>
                <key>textureRect</key>
                <string>{{1,430},{71,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,85}</string>
                <key>spriteSourceSize</key>
                <string>{70,85}</string>
                <key>textureRect</key>
                <string>{{308,168},{66,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,85}</string>
                <key>spriteSourceSize</key>
                <string>{70,85}</string>
                <key>textureRect</key>
                <string>{{223,308},{66,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico-minigame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,308},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kimcuong-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{123,373},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kimcuong-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{205,376},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,63}</string>
                <key>spriteSourceSize</key>
                <string>{100,65}</string>
                <key>textureRect</key>
                <string>{{123,308},{98,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,63}</string>
                <key>spriteSourceSize</key>
                <string>{100,65}</string>
                <key>textureRect</key>
                <string>{{308,68},{98,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taixiu-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,65}</string>
                <key>spriteSourceSize</key>
                <string>{70,65}</string>
                <key>textureRect</key>
                <string>{{308,1},{70,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,68}</string>
                <key>spriteSourceSize</key>
                <string>{75,70}</string>
                <key>textureRect</key>
                <string>{{310,255},{75,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>minigameicon.png</string>
            <key>size</key>
            <string>{379,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7f95c0e2de879b19a4cbc3280de8a55:d2f2fa491afa34aa8bd07d7ec12727f2:8c5985c2bd13b76acb5ea77943ec43c3$</string>
            <key>textureFileName</key>
            <string>minigameicon.png</string>
        </dict>
    </dict>
</plist>
