<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baucua-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{309,319},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baucua-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{285,383},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-cricle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,310}</string>
                <key>spriteSourceSize</key>
                <string>{310,310}</string>
                <key>textureRect</key>
                <string>{{1,1},{310,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,30}</string>
                <key>spriteSourceSize</key>
                <string>{71,30}</string>
                <key>textureRect</key>
                <string>{{349,383},{71,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caothap-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{223,313},{66,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caothap-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{313,233},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-minigame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,313},{120,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kimcuong-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,59}</string>
                <key>spriteSourceSize</key>
                <string>{85,65}</string>
                <key>textureRect</key>
                <string>{{123,379},{79,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kimcuong-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,59}</string>
                <key>spriteSourceSize</key>
                <string>{85,65}</string>
                <key>textureRect</key>
                <string>{{204,381},{79,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{98,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{123,313},{98,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{98,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{313,133},{98,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taixiu-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{313,1},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{313,67},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>minigameicon.png</string>
            <key>size</key>
            <string>{384,455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74433843be79023ca04e4fddd23d31f9:60008633fc09b5f20570d48b0681aa19:8c5985c2bd13b76acb5ea77943ec43c3$</string>
            <key>textureFileName</key>
            <string>minigameicon.png</string>
        </dict>
    </dict>
</plist>
