<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,520}</string>
                <key>spriteSourceSize</key>
                <string>{768,520}</string>
                <key>textureRect</key>
                <string>{{1,576},{768,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{947,573}</string>
                <key>spriteSourceSize</key>
                <string>{947,573}</string>
                <key>textureRect</key>
                <string>{{1,1},{947,573}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bet_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,67}</string>
                <key>spriteSourceSize</key>
                <string>{66,67}</string>
                <key>textureRect</key>
                <string>{{771,709},{66,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_bet_inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{771,633},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dungquay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,64}</string>
                <key>spriteSourceSize</key>
                <string>{158,64}</string>
                <key>textureRect</key>
                <string>{{744,1098},{158,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_quay_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,249}</string>
                <key>spriteSourceSize</key>
                <string>{96,249}</string>
                <key>textureRect</key>
                <string>{{771,804},{96,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tuquay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,64}</string>
                <key>spriteSourceSize</key>
                <string>{158,64}</string>
                <key>textureRect</key>
                <string>{{744,1164},{158,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{741,202}</string>
                <key>spriteSourceSize</key>
                <string>{741,202}</string>
                <key>textureRect</key>
                <string>{{1,1098},{741,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{771,576},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkmark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{26,20}</string>
                <key>textureRect</key>
                <string>{{928,576},{26,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,44}</string>
                <key>spriteSourceSize</key>
                <string>{43,44}</string>
                <key>textureRect</key>
                <string>{{904,634},{43,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,52}</string>
                <key>spriteSourceSize</key>
                <string>{226,52}</string>
                <key>textureRect</key>
                <string>{{848,576},{226,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{818,576},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,28}</string>
                <key>spriteSourceSize</key>
                <string>{15,28}</string>
                <key>textureRect</key>
                <string>{{928,604},{15,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rounded_rectangle_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,51}</string>
                <key>spriteSourceSize</key>
                <string>{182,51}</string>
                <key>textureRect</key>
                <string>{{744,1230},{182,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seperator.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,180}</string>
                <key>spriteSourceSize</key>
                <string>{3,180}</string>
                <key>textureRect</key>
                <string>{{744,1283},{3,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{818,606},{25,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>minipoker_new.png</string>
            <key>size</key>
            <string>{949,1301}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24b9a9c6f7738ddf4c905f402d8b4e36:5b25f8360181ee9dc7e12479a52c5d7c:8ec7e657212623744d4b907c32b90302$</string>
            <key>textureFileName</key>
            <string>minipoker_new.png</string>
        </dict>
    </dict>
</plist>
