<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{602,162}</string>
                <key>spriteSourceSize</key>
                <string>{602,162}</string>
                <key>textureRect</key>
                <string>{{734,1},{602,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{621,569},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,60}</string>
                <key>spriteSourceSize</key>
                <string>{202,60}</string>
                <key>textureRect</key>
                <string>{{385,405},{202,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,164}</string>
                <key>spriteSourceSize</key>
                <string>{112,164}</string>
                <key>textureRect</key>
                <string>{{214,575},{112,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,58}</string>
                <key>spriteSourceSize</key>
                <string>{392,58}</string>
                <key>textureRect</key>
                <string>{{1,515},{392,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_mini_popup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{621,463},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_popup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{731,402}</string>
                <key>spriteSourceSize</key>
                <string>{735,406}</string>
                <key>textureRect</key>
                <string>{{1,1},{731,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,56}</string>
                <key>spriteSourceSize</key>
                <string>{142,56}</string>
                <key>textureRect</key>
                <string>{{589,405},{142,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bet_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{723,605},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bet_inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{790,605},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{540,646},{46,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,43}</string>
                <key>spriteSourceSize</key>
                <string>{44,43}</string>
                <key>textureRect</key>
                <string>{{434,651},{44,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{540,598},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{857,605},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,211}</string>
                <key>spriteSourceSize</key>
                <string>{95,211}</string>
                <key>textureRect</key>
                <string>{{1,575},{95,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{434,598},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{487,598},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,108}</string>
                <key>spriteSourceSize</key>
                <string>{382,108}</string>
                <key>textureRect</key>
                <string>{{1,405},{382,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{380,598},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,224}</string>
                <key>spriteSourceSize</key>
                <string>{129,224}</string>
                <key>textureRect</key>
                <string>{{395,467},{129,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>minipoker.png</string>
            <key>size</key>
            <string>{897,695}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84ac2b1ed99388395064afaa181be44b:a1ea68e6e04c2def566d68882d2c8c38:294c490b642e2461edb2d1636beaa17e$</string>
            <key>textureFileName</key>
            <string>minipoker.png</string>
        </dict>
    </dict>
</plist>
