<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cock_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,74}</string>
                <key>spriteSourceSize</key>
                <string>{103,74}</string>
                <key>textureRect</key>
                <string>{{1,1207},{103,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cock_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,112}</string>
                <key>spriteSourceSize</key>
                <string>{103,112}</string>
                <key>textureRect</key>
                <string>{{1,1102},{103,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cock_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,114}</string>
                <key>spriteSourceSize</key>
                <string>{117,114}</string>
                <key>textureRect</key>
                <string>{{1,376},{117,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cock_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,122}</string>
                <key>spriteSourceSize</key>
                <string>{119,122}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cock_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,120}</string>
                <key>spriteSourceSize</key>
                <string>{114,120}</string>
                <key>textureRect</key>
                <string>{{1,492},{114,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cock_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,120}</string>
                <key>spriteSourceSize</key>
                <string>{114,120}</string>
                <key>textureRect</key>
                <string>{{1,614},{114,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cock_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,120}</string>
                <key>spriteSourceSize</key>
                <string>{114,120}</string>
                <key>textureRect</key>
                <string>{{1,736},{114,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cock_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,120}</string>
                <key>spriteSourceSize</key>
                <string>{114,120}</string>
                <key>textureRect</key>
                <string>{{1,858},{114,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cock_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,120}</string>
                <key>spriteSourceSize</key>
                <string>{114,120}</string>
                <key>textureRect</key>
                <string>{{1,980},{114,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cock_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,122}</string>
                <key>spriteSourceSize</key>
                <string>{119,122}</string>
                <key>textureRect</key>
                <string>{{1,125},{119,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cock_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,125}</string>
                <key>spriteSourceSize</key>
                <string>{117,125}</string>
                <key>textureRect</key>
                <string>{{1,249},{117,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bopCoGa.png</string>
            <key>size</key>
            <string>{121,1282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3edfab52fdb6bcddad6239029469ef07:90a37d9b00cf6ec830bf30c6fe9bdba9:e6b94e9b54147dee3e8e12b0c72bfe6b$</string>
            <key>textureFileName</key>
            <string>bopCoGa.png</string>
        </dict>
    </dict>
</plist>
