<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,88}</string>
                <key>spriteSourceSize</key>
                <string>{147,88}</string>
                <key>textureRect</key>
                <string>{{1,289},{147,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,150}</string>
                <key>spriteSourceSize</key>
                <string>{179,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{179,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,106}</string>
                <key>spriteSourceSize</key>
                <string>{99,106}</string>
                <key>textureRect</key>
                <string>{{333,286},{99,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,122}</string>
                <key>spriteSourceSize</key>
                <string>{152,122}</string>
                <key>textureRect</key>
                <string>{{353,132},{152,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,126}</string>
                <key>spriteSourceSize</key>
                <string>{169,126}</string>
                <key>textureRect</key>
                <string>{{182,136},{169,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,129}</string>
                <key>spriteSourceSize</key>
                <string>{152,129}</string>
                <key>textureRect</key>
                <string>{{347,1},{152,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,122}</string>
                <key>spriteSourceSize</key>
                <string>{164,122}</string>
                <key>textureRect</key>
                <string>{{167,264},{164,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,133}</string>
                <key>spriteSourceSize</key>
                <string>{163,133}</string>
                <key>textureRect</key>
                <string>{{182,1},{163,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,134}</string>
                <key>spriteSourceSize</key>
                <string>{164,134}</string>
                <key>textureRect</key>
                <string>{{1,153},{164,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>concho.png</string>
            <key>size</key>
            <string>{500,387}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24f175a9efa088a60712912d16e4bb43:b6d49934b2f2a3854784c27375892745:0e0299e9e4dd792098100cc2c3719fea$</string>
            <key>textureFileName</key>
            <string>concho.png</string>
        </dict>
    </dict>
</plist>
