<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hddj-12-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,394},{64,84}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,47},{64,84}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>hddj-12-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,394},{72,96}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,35},{72,96}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>hddj-12-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,390},{78,106}}</string>
                <key>offset</key>
                <string>{20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,25},{78,106}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>hddj-12-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{90,124}}</string>
                <key>offset</key>
                <string>{40,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,7},{90,124}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>hddj-12-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,246},{108,142}}</string>
                <key>offset</key>
                <string>{31,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{108,142}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>hddj-12-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,370},{122,120}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,28},{122,120}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>hddj-12-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,240},{128,124}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{128,124}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>hddj-12-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,98},{140,128}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{140,128}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>hddj-12-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,98},{146,108}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,25},{146,108}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>hddj-12-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,246},{146,110}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{146,110}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>hddj-12-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,98},{146,112}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,21},{146,112}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>hddj-12-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{150,112}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,21},{150,112}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>hddj-12-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{164,94}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,39},{164,94}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>hddj-12-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,94}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,39},{164,94}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>hddj-12-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,94}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,39},{164,94}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>hddj-12-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{154,86}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,47},{154,86}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj-12.png</string>
            <key>size</key>
            <string>{500,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55dbf2ae015b52e6985a18333db9291b$</string>
            <key>textureFileName</key>
            <string>hddj-12.png</string>
        </dict>
    </dict>
</plist>
