<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hddj-9-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,166},{80,88}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,24},{80,88}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,84},{80,88}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,24},{80,88}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{80,88}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,24},{80,88}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{80,96}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,16},{80,96}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,148},{80,94}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,18},{80,94}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,148},{72,94}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,18},{72,94}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,148},{80,94}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,18},{80,94}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,130},{112,110}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,13},{112,110}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{126,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{126,120}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{144,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{144,138}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{144,138}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{126,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{126,120}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,124},{106,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,120}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{106,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,120}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,124},{106,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,120}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{106,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,120}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,130},{106,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,120}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,130},{106,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,120}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,130},{106,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,120}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,130},{106,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,120}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj-9.png</string>
            <key>size</key>
            <string>{870,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f16b0357cb9fa333ab5e409ab73004f0$</string>
            <key>textureFileName</key>
            <string>hddj-9.png</string>
        </dict>
    </dict>
</plist>
