<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hddj-11-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{206,68}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,76},{206,68}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>hddj-11-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,160},{122,70}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,71},{122,70}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>hddj-11-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,144},{86,100}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,36},{86,100}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>hddj-11-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{156,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,11},{156,136}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>hddj-11-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{166,140}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{166,140}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>hddj-11-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{170,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{170,142}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>hddj-11-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{174,152}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{174,152}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>hddj-11-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{178,154}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{178,154}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>hddj-11-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,156}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{182,156}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>hddj-11-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,158},{168,68}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,33},{168,68}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>hddj-11-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,156},{180,68}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,50},{180,68}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>hddj-11-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,146},{196,68}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,68},{196,68}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj-11.png</string>
            <key>size</key>
            <string>{1020,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fe6ea86a9fbb6c027ca387a64dc234e$</string>
            <key>textureFileName</key>
            <string>hddj-11.png</string>
        </dict>
    </dict>
</plist>
