<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,56}</string>
                <key>spriteSourceSize</key>
                <string>{88,56}</string>
                <key>textureRect</key>
                <string>{{1,263},{88,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{52,54}</string>
                <key>textureRect</key>
                <string>{{91,263},{52,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,77}</string>
                <key>spriteSourceSize</key>
                <string>{75,77}</string>
                <key>textureRect</key>
                <string>{{145,255},{75,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,110}</string>
                <key>spriteSourceSize</key>
                <string>{111,110}</string>
                <key>textureRect</key>
                <string>{{128,142},{111,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,119}</string>
                <key>spriteSourceSize</key>
                <string>{125,119}</string>
                <key>textureRect</key>
                <string>{{1,142},{125,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,139}</string>
                <key>spriteSourceSize</key>
                <string>{143,139}</string>
                <key>textureRect</key>
                <string>{{1,1},{143,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,119}</string>
                <key>spriteSourceSize</key>
                <string>{105,119}</string>
                <key>textureRect</key>
                <string>{{146,1},{105,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nemBomb.png</string>
            <key>size</key>
            <string>{252,331}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6ac306bb81472a2a25fbd5ae35700fe:c21fec9f9f092ba8431bef8432bb119a:a9d9d8bc855663780ba01205f755c955$</string>
            <key>textureFileName</key>
            <string>nemBomb.png</string>
        </dict>
    </dict>
</plist>
