<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dagger_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,129}</string>
                <key>spriteSourceSize</key>
                <string>{110,129}</string>
                <key>textureRect</key>
                <string>{{1,148},{110,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dagger_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,145}</string>
                <key>spriteSourceSize</key>
                <string>{147,145}</string>
                <key>textureRect</key>
                <string>{{1,1},{147,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dagger_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,49}</string>
                <key>spriteSourceSize</key>
                <string>{102,49}</string>
                <key>textureRect</key>
                <string>{{150,136},{102,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dagger_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{133,103}</string>
                <key>spriteSourceSize</key>
                <string>{135,105}</string>
                <key>textureRect</key>
                <string>{{150,1},{133,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dagger_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,84}</string>
                <key>spriteSourceSize</key>
                <string>{101,84}</string>
                <key>textureRect</key>
                <string>{{132,187},{101,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>phidao.png</string>
            <key>size</key>
            <string>{254,272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5c21b47f8f8a4b4c6c465bd77858a53:1b586d63b9c470de911bc459086599a4:2721bb104e51e12704812216443e349e$</string>
            <key>textureFileName</key>
            <string>phidao.png</string>
        </dict>
    </dict>
</plist>
