<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egg_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{365,1},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{517,1},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,200}</string>
                <key>spriteSourceSize</key>
                <string>{160,200}</string>
                <key>textureRect</key>
                <string>{{203,1},{160,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{669,1},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{821,1},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{973,1},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{1125,1},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{1277,1},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{1429,1},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{1581,1},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{1733,1},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{1885,1},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>trungThoi.png</string>
            <key>size</key>
            <string>{2036,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8a750248b0b364de0d54a1a10705bc4:4692fa58cb06172af5cd55333bda31d8:e4e9500c1d855e9b763a7363c17149e6$</string>
            <key>textureFileName</key>
            <string>trungThoi.png</string>
        </dict>
    </dict>
</plist>
