<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,109}</string>
                <key>spriteSourceSize</key>
                <string>{108,109}</string>
                <key>textureRect</key>
                <string>{{1,196},{108,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bau_hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,109}</string>
                <key>spriteSourceSize</key>
                <string>{108,109}</string>
                <key>textureRect</key>
                <string>{{112,198},{108,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,90}</string>
                <key>spriteSourceSize</key>
                <string>{120,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ca_hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,90}</string>
                <key>spriteSourceSize</key>
                <string>{120,90}</string>
                <key>textureRect</key>
                <string>{{123,1},{120,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,101}</string>
                <key>spriteSourceSize</key>
                <string>{127,101}</string>
                <key>textureRect</key>
                <string>{{1,93},{127,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cua_hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,101}</string>
                <key>spriteSourceSize</key>
                <string>{127,101}</string>
                <key>textureRect</key>
                <string>{{237,103},{127,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,103}</string>
                <key>spriteSourceSize</key>
                <string>{105,103}</string>
                <key>textureRect</key>
                <string>{{130,93},{105,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ga_hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,103}</string>
                <key>spriteSourceSize</key>
                <string>{105,103}</string>
                <key>textureRect</key>
                <string>{{366,103},{105,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,117}</string>
                <key>spriteSourceSize</key>
                <string>{119,117}</string>
                <key>textureRect</key>
                <string>{{223,206},{119,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huou_hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,117}</string>
                <key>spriteSourceSize</key>
                <string>{119,117}</string>
                <key>textureRect</key>
                <string>{{344,208},{119,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,100}</string>
                <key>spriteSourceSize</key>
                <string>{110,100}</string>
                <key>textureRect</key>
                <string>{{245,1},{110,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tom_hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,100}</string>
                <key>spriteSourceSize</key>
                <string>{110,100}</string>
                <key>textureRect</key>
                <string>{{357,1},{110,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vi.png</string>
            <key>size</key>
            <string>{472,326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85737fb61b97a27787291b081eee012a:efb347eac79014e0e4c4ec323d1890f4:8b843ab469055026f3a5dc4b852e4caf$</string>
            <key>textureFileName</key>
            <string>vi.png</string>
        </dict>
    </dict>
</plist>
