<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,88}</string>
                <key>spriteSourceSize</key>
                <string>{71,88}</string>
                <key>textureRect</key>
                <string>{{908,166},{71,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,60}</string>
                <key>spriteSourceSize</key>
                <string>{202,60}</string>
                <key>textureRect</key>
                <string>{{846,166},{202,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,58}</string>
                <key>spriteSourceSize</key>
                <string>{392,58}</string>
                <key>textureRect</key>
                <string>{{1,403},{392,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{729,400}</string>
                <key>spriteSourceSize</key>
                <string>{729,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{729,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt- thap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,97}</string>
                <key>spriteSourceSize</key>
                <string>{177,97}</string>
                <key>textureRect</key>
                <string>{{395,403},{177,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-cao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,97}</string>
                <key>spriteSourceSize</key>
                <string>{177,97}</string>
                <key>textureRect</key>
                <string>{{574,403},{177,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-choi ngay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,163}</string>
                <key>spriteSourceSize</key>
                <string>{142,163}</string>
                <key>textureRect</key>
                <string>{{846,1},{142,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{908,239},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-cuoc1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{908,306},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-luotmoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,54}</string>
                <key>spriteSourceSize</key>
                <string>{225,54}</string>
                <key>textureRect</key>
                <string>{{753,387},{225,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{913,443},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huongdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{807,443},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,112}</string>
                <key>spriteSourceSize</key>
                <string>{384,112}</string>
                <key>textureRect</key>
                <string>{{732,1},{384,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ls.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{860,443},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{753,443},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>caothap.png</string>
            <key>size</key>
            <string>{997,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1236a3c584630d2e05ff1e55cf969d0:e2a45e2e0a7559f233ffcf85d626cf64:3af258f5c61c3eaec856f81b60801c25$</string>
            <key>textureFileName</key>
            <string>caothap.png</string>
        </dict>
    </dict>
</plist>
