<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cuocto1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{112,164}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{277,1},{112,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cuocto2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-1}</string>
                <key>spriteSize</key>
                <string>{136,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cuocto3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-1}</string>
                <key>spriteSize</key>
                <string>{136,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{139,1},{136,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cuocto4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-1}</string>
                <key>spriteSize</key>
                <string>{136,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cuocto.png</string>
            <key>size</key>
            <string>{390,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4f82428f519230d94dff652239efa7e:a8891e8071cbb0086dfa808745f25947:62dfdc59e177f87926f12d795794da09$</string>
            <key>textureFileName</key>
            <string>cuocto.png</string>
        </dict>
    </dict>
</plist>
