<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nhanh-len1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{152,166}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{313,1},{152,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nhanh-len2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{154,166}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nhanh-len3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{152,166}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{467,1},{152,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nhanh-len4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{154,166}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{157,1},{154,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nhanhlen.png</string>
            <key>size</key>
            <string>{620,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ed0ad042fa5302cbe93a3896203f498:8f0d88af50ddadd6f6186a5ffbf7b0b6:ab2598a63b1fd273773b7d10b6f34e14$</string>
            <key>textureFileName</key>
            <string>nhanhlen.png</string>
        </dict>
    </dict>
</plist>
