<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clgt1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{140,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clgt1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{116,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{143,1},{116,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>oc-clgt1.png</string>
            <key>size</key>
            <string>{260,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f681b4cd252d2270ea5c68731c7d3767:d6da323f4fdac382959ca03137352c67:2f56bd0b0a82fab607759757050c5c9b$</string>
            <key>textureFileName</key>
            <string>oc-clgt1.png</string>
        </dict>
    </dict>
</plist>
