<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nhanhlen1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{171,1},{166,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nhanhlen1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{168,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>oc-nhanhlen.png</string>
            <key>size</key>
            <string>{338,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9755eab54b96a646efa23865bf8bf9a7:a602a1b327a207a8b5bc11d228106d25:31faa4e71e67e31823e9cfb7dc53e710$</string>
            <key>textureFileName</key>
            <string>oc-nhanhlen.png</string>
        </dict>
    </dict>
</plist>
