<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thitga1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{140,158}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,173},{140,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thitga1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{142,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>oc-thitconga.png</string>
            <key>size</key>
            <string>{144,332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c651fd05cfa0f08a8263df0e419fc1be:bd1032321d0061bc40fda045b85aeb56:888c8cd94dd23c63cbca6f7111c047a0$</string>
            <key>textureFileName</key>
            <string>oc-thitconga.png</string>
        </dict>
    </dict>
</plist>
