<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tienve1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,171},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tienve1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{166,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>oc-tienve.png</string>
            <key>size</key>
            <string>{168,338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31853b17720b26880eb16dc75a9ae785:169eb25b09f27521ff570aa98a561724:eb6f562e2d90c015a1c2b4f9cdd2dc4f$</string>
            <key>textureFileName</key>
            <string>oc-tienve.png</string>
        </dict>
    </dict>
</plist>
