<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thuongthoi1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{162,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuongthoi1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{156,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{329,1},{156,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuongthoi1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{162,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{165,1},{162,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuongthoi1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{156,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{487,1},{156,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>oc-thuongthoi.png</string>
            <key>size</key>
            <string>{644,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b38051dfab94e659b17813d589448fe5:c2b636eb2e8881d3e6927471846cdc22:d1135c59dc7ab4cc989d5259b50d15a3$</string>
            <key>textureFileName</key>
            <string>oc-thuongthoi.png</string>
        </dict>
    </dict>
</plist>
