<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bacay_ico.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{306,320}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{306,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lieng_ico.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{306,314}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{323,1},{306,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maubinh_ico.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,306}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{639,1},{306,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phom_ico.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{306,318}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1,309},{306,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sam_ico.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,306}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{321,309},{306,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tlmn_ico.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,318}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1,617},{306,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xito_ico.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{306,322}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{321,617},{306,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia_ico.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,306}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{629,309},{306,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_icons.png</string>
            <key>size</key>
            <string>{946,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc161d3b58ad6647d66cd890e8fd9035:8152f507d702f8d2f7f9ffc6f8feebd6:0b0b727a51cfcb9681e5e514ee1d2ffd$</string>
            <key>textureFileName</key>
            <string>game_icons.png</string>
        </dict>
    </dict>
</plist>
