<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dice_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-20}</string>
                <key>spriteSize</key>
                <string>{122,112}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{813,819},{122,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dice_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-14}</string>
                <key>spriteSize</key>
                <string>{126,112}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{813,691},{126,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dice_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{130,122}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{867,151},{130,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{138,132}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{503,777},{138,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dice_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{148,144}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{867,1},{148,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dice_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{156,150}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{345,777},{156,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,25}</string>
                <key>spriteSize</key>
                <string>{166,158}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,777},{166,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dice_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,33}</string>
                <key>spriteSize</key>
                <string>{174,168}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{637,767},{174,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,45}</string>
                <key>spriteSize</key>
                <string>{186,182}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{789,377},{186,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dice_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,48}</string>
                <key>spriteSize</key>
                <string>{190,184}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{213,585},{190,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dice_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,49}</string>
                <key>spriteSize</key>
                <string>{194,184}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{593,377},{194,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,51}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{221,387},{196,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dice_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,52}</string>
                <key>spriteSize</key>
                <string>{200,184}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{407,387},{200,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dice_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,54}</string>
                <key>spriteSize</key>
                <string>{202,184}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{643,191},{202,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,57}</string>
                <key>spriteSize</key>
                <string>{202,186}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{399,589},{202,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,60}</string>
                <key>spriteSize</key>
                <string>{204,186}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{437,189},{204,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,63}</string>
                <key>spriteSize</key>
                <string>{210,188}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{655,1},{210,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,65}</string>
                <key>spriteSize</key>
                <string>{212,190}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{221,195},{212,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,66}</string>
                <key>spriteSize</key>
                <string>{210,190}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,585},{210,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,65}</string>
                <key>spriteSize</key>
                <string>{214,192}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{221,1},{214,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,65}</string>
                <key>spriteSize</key>
                <string>{214,192}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,391},{214,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,65}</string>
                <key>spriteSize</key>
                <string>{218,192}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,197},{218,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,65}</string>
                <key>spriteSize</key>
                <string>{218,194}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{218,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,62}</string>
                <key>spriteSize</key>
                <string>{216,186}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{437,1},{216,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,54}</string>
                <key>spriteSize</key>
                <string>{202,174}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{603,563},{202,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dice_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,38}</string>
                <key>spriteSize</key>
                <string>{182,162}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{161,777},{182,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-16}</string>
                <key>spriteSize</key>
                <string>{132,124}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{779,565},{132,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-40}</string>
                <key>spriteSize</key>
                <string>{100,82}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{927,653},{100,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dice_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-43}</string>
                <key>spriteSize</key>
                <string>{100,86}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{847,275},{100,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dice_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-46}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{913,565},{98,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dices.png</string>
            <key>size</key>
            <string>{1012,944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55cbb7b47929cd248844be813a9f6aa1:3e084fcfbd3c2e944c258f48748d672f:0b8c924a885b289e4bf3d63d1b8f8d66$</string>
            <key>textureFileName</key>
            <string>dices.png</string>
        </dict>
    </dict>
</plist>
