<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-slide-bid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,56}</string>
                <key>spriteSourceSize</key>
                <string>{488,56}</string>
                <key>textureRect</key>
                <string>{{1,1},{488,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-bid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,48}</string>
                <key>spriteSourceSize</key>
                <string>{81,48}</string>
                <key>textureRect</key>
                <string>{{491,1},{81,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-dat-ga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,44}</string>
                <key>spriteSourceSize</key>
                <string>{104,44}</string>
                <key>textureRect</key>
                <string>{{574,1},{104,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slide-bid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,38}</string>
                <key>spriteSourceSize</key>
                <string>{470,38}</string>
                <key>textureRect</key>
                <string>{{761,1},{470,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tool-tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,39}</string>
                <key>spriteSourceSize</key>
                <string>{79,39}</string>
                <key>textureRect</key>
                <string>{{680,1},{79,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lieng-slider.png</string>
            <key>size</key>
            <string>{1232,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1babbe50110f7bff7e04ac875fbc073:3ab66c46de0df273772f1f94cdb917b4:5f0b0325a2c5d9043eaaa9f372ba3dd1$</string>
            <key>textureFileName</key>
            <string>lieng-slider.png</string>
        </dict>
    </dict>
</plist>
