<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daily-verify.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user-verify.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,27}</string>
                <key>spriteSourceSize</key>
                <string>{35,27}</string>
                <key>textureRect</key>
                <string>{{1,41},{35,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>outgame-p3.png</string>
            <key>size</key>
            <string>{40,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85c7884f6ac67db5ec1aacc1633485fb:77ed99020e5a1add1d311ded19da36cc:3a3929f9a90cdedb5b7abdc3b2289846$</string>
            <key>textureFileName</key>
            <string>outgame-p3.png</string>
        </dict>
    </dict>
</plist>
