<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-input.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{749,401},{76,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-taixiu-treo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,534}</string>
                <key>spriteSourceSize</key>
                <string>{680,540}</string>
                <key>textureRect</key>
                <string>{{1,1},{666,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-time-treo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{807,444},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,56}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{811,183},{136,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-vang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{669,1},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-xanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{767,479},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-datcuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,45}</string>
                <key>spriteSourceSize</key>
                <string>{100,45}</string>
                <key>textureRect</key>
                <string>{{669,486},{96,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-nan-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{669,406},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{669,323},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-cau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{845,406},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{807,406},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{825,478},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,36}</string>
                <key>textureRect</key>
                <string>{{851,33},{18,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{851,67},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-users.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{851,1},{30,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico-xephang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{841,444},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{851,93},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tai_xiu_treo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,138}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{669,183},{140,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{76,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{749,323},{76,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{83,58}</string>
                <key>spriteSourceSize</key>
                <string>{85,60}</string>
                <key>textureRect</key>
                <string>{{811,321},{83,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tai-xiu-treo.png</string>
            <key>size</key>
            <string>{880,536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ab77df10ecd7705ad7741693700d263:d64e68a02b0192b90d5b810ade730210:664895acba84356dc2f9122992346d2b$</string>
            <key>textureFileName</key>
            <string>tai-xiu-treo.png</string>
        </dict>
    </dict>
</plist>
