<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{317,347}</string>
                <key>spriteSourceSize</key>
                <string>{325,355}</string>
                <key>textureRect</key>
                <string>{{537,1},{317,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,173}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{537,350},{173,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-input.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{798,551},{76,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-taixiu-treo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,534}</string>
                <key>spriteSourceSize</key>
                <string>{680,540}</string>
                <key>textureRect</key>
                <string>{{1,1},{666,534}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,37}</string>
                <key>spriteSourceSize</key>
                <string>{150,37}</string>
                <key>textureRect</key>
                <string>{{537,525},{150,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-time-treo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{634,585},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-xanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{576,629},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-datcuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,45}</string>
                <key>spriteSourceSize</key>
                <string>{100,45}</string>
                <key>textureRect</key>
                <string>{{712,493},{96,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-nan-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{634,619},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{714,600},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>delete-taixiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,31}</string>
                <key>spriteSourceSize</key>
                <string>{48,31}</string>
                <key>textureRect</key>
                <string>{{794,629},{48,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-cau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{576,585},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{669,525},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{669,563},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,36}</string>
                <key>textureRect</key>
                <string>{{197,669},{18,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico-minigame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{143,141}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{712,350},{143,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-tai-hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{93,669},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{119,669},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-users.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{61,669},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-xephang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{794,662},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-xiu-hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{145,669},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{171,669},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soicau-checked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1,669},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soicau-uncheck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{31,669},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{89,58}</string>
                <key>spriteSourceSize</key>
                <string>{95,60}</string>
                <key>textureRect</key>
                <string>{{707,540},{89,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>textbox-chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,46}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{810,493},{56,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,58}</string>
                <key>spriteSourceSize</key>
                <string>{95,60}</string>
                <key>textureRect</key>
                <string>{{576,525},{91,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tai-xiu-treo.png</string>
            <key>size</key>
            <string>{857,698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73c8e773eb5b821e7096225eec37a3a3:9af21cdd3b7289e3ef0df106265194eb:664895acba84356dc2f9122992346d2b$</string>
            <key>textureFileName</key>
            <string>tai-xiu-treo.png</string>
        </dict>
    </dict>
</plist>
