<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bongmo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,155}</string>
                <key>spriteSourceSize</key>
                <string>{124,155}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_10_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,163}</string>
                <key>spriteSourceSize</key>
                <string>{132,163}</string>
                <key>textureRect</key>
                <string>{{826,799},{132,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_10_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{637,1},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_10_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,163}</string>
                <key>spriteSourceSize</key>
                <string>{132,163}</string>
                <key>textureRect</key>
                <string>{{991,799},{132,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_10_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,163}</string>
                <key>spriteSourceSize</key>
                <string>{132,163}</string>
                <key>textureRect</key>
                <string>{{1156,799},{132,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_2_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{802,1},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_2_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{967,1},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_2_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1132,1},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_2_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1,130},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_3_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{166,130},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_3_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{331,132},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_3_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{496,134},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_3_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{661,134},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_4_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{826,134},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_4_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{991,134},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_4_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1156,134},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_4_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1,263},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_5_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{166,263},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_5_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{331,265},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_5_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{496,267},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_5_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{661,267},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_6_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{826,267},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_6_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{991,267},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_6_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1156,267},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_6_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1,396},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_7_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{166,396},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_7_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{331,398},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_7_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{496,400},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_7_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{661,400},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_8_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{826,400},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_8_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{991,400},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_8_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1156,400},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_8_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1,529},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_9_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{166,529},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_9_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{331,531},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_9_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{496,533},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_9_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{661,533},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_a_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{826,533},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_a_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{991,533},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_a_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1156,533},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_a_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1,662},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_j_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{166,662},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_j_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{331,664},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_j_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{496,666},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_j_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{661,666},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_k_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{826,666},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_k_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{991,666},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_k_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1156,666},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_k_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1,795},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_q_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{166,795},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_q_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{331,797},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_q_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{496,799},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_q_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{661,799},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cards_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{129,159}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{476,1},{129,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cards_hi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,157}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{158,1},{127,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cards_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,157}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{317,1},{127,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1320,932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:925b832e8832c9efd316cc513321ba3c:3573625da77793b0d727a99dccc92333:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
