<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bongmo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,155}</string>
                <key>spriteSourceSize</key>
                <string>{124,155}</string>
                <key>textureRect</key>
                <string>{{932,831},{124,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_10_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,163}</string>
                <key>spriteSourceSize</key>
                <string>{132,163}</string>
                <key>textureRect</key>
                <string>{{1,167},{132,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_10_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1,497},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_10_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,163}</string>
                <key>spriteSourceSize</key>
                <string>{132,163}</string>
                <key>textureRect</key>
                <string>{{134,1},{132,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_10_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,163}</string>
                <key>spriteSourceSize</key>
                <string>{132,163}</string>
                <key>textureRect</key>
                <string>{{1,332},{132,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1,662},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1,827},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{134,497},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{134,662},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{134,827},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{135,166},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{135,331},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{267,496},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{267,661},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{267,826},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{268,1},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{268,166},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_5_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{268,331},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_5_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{400,496},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_5_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{400,661},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_5_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{400,826},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_6_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{401,1},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_6_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{401,166},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_6_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{401,331},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_6_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{533,496},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_7_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{533,661},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_7_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{533,826},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_7_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{534,1},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_7_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{534,166},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_8_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{534,331},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_8_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{666,496},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_8_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{666,661},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_8_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{666,826},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_9_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{667,1},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_9_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{667,166},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_9_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{667,331},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_9_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{799,496},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_a_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{799,661},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_a_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{799,826},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_a_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{932,1},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_a_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1097,1},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_j_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{800,160},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_j_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{800,325},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_j_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{933,134},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_j_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1098,134},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_k_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,164}</string>
                <key>spriteSourceSize</key>
                <string>{131,164}</string>
                <key>textureRect</key>
                <string>{{1,1},{131,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_k_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{933,267},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_k_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1098,267},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_k_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{933,400},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_q_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1098,400},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_q_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{932,533},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_q_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{1097,533},{131,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_q_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{131,163}</string>
                <key>textureRect</key>
                <string>{{932,666},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,157}</string>
                <key>spriteSourceSize</key>
                <string>{126,157}</string>
                <key>textureRect</key>
                <string>{{800,1},{126,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards_hi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,155}</string>
                <key>spriteSourceSize</key>
                <string>{124,155}</string>
                <key>textureRect</key>
                <string>{{1058,831},{124,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612903,0.54386}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,155}</string>
                <key>spriteSourceSize</key>
                <string>{124,155}</string>
                <key>textureRect</key>
                <string>{{1065,666},{124,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1262,991}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:807adea2edeba422aaa9bfcb3caca571:976caa327649675c19ea88244f0b1bee:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
