<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scoreIcon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{418,1},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreIcon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,110}</string>
                <key>spriteSourceSize</key>
                <string>{89,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreIcon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,107}</string>
                <key>spriteSourceSize</key>
                <string>{82,107}</string>
                <key>textureRect</key>
                <string>{{334,1},{82,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreIcon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,102}</string>
                <key>spriteSourceSize</key>
                <string>{107,102}</string>
                <key>textureRect</key>
                <string>{{230,1},{107,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreIcon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,107}</string>
                <key>spriteSourceSize</key>
                <string>{136,107}</string>
                <key>textureRect</key>
                <string>{{92,1},{136,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chips.png</string>
            <key>size</key>
            <string>{508,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9972f88a704c250de186487031c77979:f72f1d4973d499e35bf4eb945ccf4764:ba04bb3308be7542f78a75d9474d66d8$</string>
            <key>textureFileName</key>
            <string>chips.png</string>
        </dict>
    </dict>
</plist>
