<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow-down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,29}</string>
                <key>spriteSourceSize</key>
                <string>{33,29}</string>
                <key>textureRect</key>
                <string>{{929,1},{33,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgroud.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-bottom-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,150}</string>
                <key>spriteSourceSize</key>
                <string>{22,150}</string>
                <key>textureRect</key>
                <string>{{929,36},{22,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-dangky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,115}</string>
                <key>spriteSourceSize</key>
                <string>{290,115}</string>
                <key>textureRect</key>
                <string>{{723,874},{288,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-dangnhap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,115}</string>
                <key>spriteSourceSize</key>
                <string>{290,115}</string>
                <key>textureRect</key>
                <string>{{840,874},{288,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-dn-choingay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,116}</string>
                <key>spriteSourceSize</key>
                <string>{610,120}</string>
                <key>textureRect</key>
                <string>{{321,1603},{608,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-dn-facebook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,116}</string>
                <key>spriteSourceSize</key>
                <string>{610,120}</string>
                <key>textureRect</key>
                <string>{{321,1721},{608,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-doithe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,116}</string>
                <key>spriteSourceSize</key>
                <string>{610,120}</string>
                <key>textureRect</key>
                <string>{{723,264},{608,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-doithuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,318}</string>
                <key>spriteSourceSize</key>
                <string>{610,320}</string>
                <key>textureRect</key>
                <string>{{1,1283},{608,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-napchip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{608,318}</string>
                <key>spriteSourceSize</key>
                <string>{610,320}</string>
                <key>textureRect</key>
                <string>{{321,1283},{608,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-napthe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,116}</string>
                <key>spriteSourceSize</key>
                <string>{610,120}</string>
                <key>textureRect</key>
                <string>{{841,264},{608,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{384,1839},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{515,1839},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-doithe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,61}</string>
                <key>spriteSourceSize</key>
                <string>{69,61}</string>
                <key>textureRect</key>
                <string>{{321,1839},{69,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico-logout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,59}</string>
                <key>spriteSourceSize</key>
                <string>{64,59}</string>
                <key>textureRect</key>
                <string>{{454,1839},{64,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico-napthe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,58}</string>
                <key>textureRect</key>
                <string>{{681,1839},{57,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{261,204}</string>
                <key>spriteSourceSize</key>
                <string>{265,210}</string>
                <key>textureRect</key>
                <string>{{723,1},{261,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>textbox-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,100}</string>
                <key>spriteSourceSize</key>
                <string>{60,100}</string>
                <key>textureRect</key>
                <string>{{579,1839},{60,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>otp.png</string>
            <key>size</key>
            <string>{959,1909}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab9e814f07374521a57aa828931534ff:4c597d008f64c79f1549aa4dde402043:a0d79fc2f30cc4095215e869f6587f6d$</string>
            <key>textureFileName</key>
            <string>otp.png</string>
        </dict>
    </dict>
</plist>
