<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fpt-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{1,111},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fpt-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{191,111},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megacard-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{381,1},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megacard-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{381,106},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobi-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{571,1},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobi-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{571,106},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,36}</string>
                <key>spriteSourceSize</key>
                <string>{160,36}</string>
                <key>textureRect</key>
                <string>{{1521,1},{160,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oncash-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{761,1},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oncash-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{761,106},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vcion-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{951,1},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vcoin-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{951,106},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viettel-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,108}</string>
                <key>spriteSourceSize</key>
                <string>{188,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viettel-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,108}</string>
                <key>spriteSourceSize</key>
                <string>{188,108}</string>
                <key>textureRect</key>
                <string>{{191,1},{188,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viettel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,73}</string>
                <key>spriteSourceSize</key>
                <string>{119,73}</string>
                <key>textureRect</key>
                <string>{{1575,39},{119,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vina-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{1141,1},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vina-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{1141,106},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vina.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,52}</string>
                <key>spriteSourceSize</key>
                <string>{171,52}</string>
                <key>textureRect</key>
                <string>{{1521,39},{171,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zing-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{1331,1},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zing-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{1331,106},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>providers.png</string>
            <key>size</key>
            <string>{1682,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1176c6cbe009d4047dadda4cb537cfa9:4b93f2e0a85d112fa8e58422d648fb43:12b6fa94e4dc5484f45ee1a516b4e89b$</string>
            <key>textureFileName</key>
            <string>providers.png</string>
        </dict>
    </dict>
</plist>
