<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bit-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bit-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{1,106},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{191,1},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{381,1},{188,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megacard-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{191,106},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megacard-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{381,191},{188,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mobi-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{1,211},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobi-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{191,211},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,36}</string>
                <key>spriteSourceSize</key>
                <string>{160,36}</string>
                <key>textureRect</key>
                <string>{{1,790},{160,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oncash-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{1,316},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oncash-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{191,316},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vcoin-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{381,381},{188,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vcoin-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{1,421},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viettel-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{191,421},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viettel-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{1,526},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viettel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,73}</string>
                <key>spriteSourceSize</key>
                <string>{119,73}</string>
                <key>textureRect</key>
                <string>{{174,736},{119,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vina-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{191,526},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vina-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{381,571},{188,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vina.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,52}</string>
                <key>spriteSourceSize</key>
                <string>{171,52}</string>
                <key>textureRect</key>
                <string>{{1,736},{171,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zing-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{1,631},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zing-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,103}</string>
                <key>spriteSourceSize</key>
                <string>{188,103}</string>
                <key>textureRect</key>
                <string>{{191,631},{188,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>providers.png</string>
            <key>size</key>
            <string>{485,827}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6ffaf26b4c1c5590b6a512c56423d72:52f22edd20209413b76dd964fd01c267:12b6fa94e4dc5484f45ee1a516b4e89b$</string>
            <key>textureFileName</key>
            <string>providers.png</string>
        </dict>
    </dict>
</plist>
