<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{389,405},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,66}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{430,1},{106,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nhat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{130,68}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{423,109},{130,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{104,62}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{351,239},{104,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phom/mom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{143,211},{134,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phom/u-den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{142,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{1,335},{142,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phom/u-khan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{146,66}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{279,127},{146,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phom/u-tron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,68}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{145,335},{144,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phom/u.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,86}</string>
                <key>spriteSourceSize</key>
                <string>{160,90}</string>
                <key>textureRect</key>
                <string>{{351,345},{58,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sam/den-sam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{158,46}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{1,409},{158,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sam/den-thoi-heo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,58}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{137,275},{144,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sam/thang-sam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{132,102}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{296,1},{132,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sam/thoi-hai.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,124}</string>
                <key>spriteSourceSize</key>
                <string>{293,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{293,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sam/treo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{106,46}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{439,241},{106,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{347,105},{132,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{128,58}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{291,275},{128,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tlmn/an-trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{140,114}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{1,127},{140,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tlmn/cong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{114,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{161,405},{114,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tlmn/dut-ba-bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{134,82}</string>
                <key>spriteSourceSize</key>
                <string>{160,90}</string>
                <key>textureRect</key>
                <string>{{143,127},{134,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tlmn/lung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{110,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{277,405},{110,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tlmn/thoi-ba-bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{134,90}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{1,243},{134,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>text-ingame.png</string>
            <key>size</key>
            <string>{497,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ceef1bb77e20ba213996cf87de8dd7f:854e423a0e97617e303c0f2fbb6915f5:934a5484d758fda80ef08ea532dcbb5f$</string>
            <key>textureFileName</key>
            <string>text-ingame.png</string>
        </dict>
    </dict>
</plist>
