<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>general/background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,900}</string>
                <key>spriteSourceSize</key>
                <string>{1400,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general/bg-dropdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,483}</string>
                <key>spriteSourceSize</key>
                <string>{124,483}</string>
                <key>textureRect</key>
                <string>{{1295,1909},{124,483}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general/buttons/arrow-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{1160,2029},{15,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general/buttons/btn-out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{477,1992},{52,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general/close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{2001,1},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general/coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,36}</string>
                <key>spriteSourceSize</key>
                <string>{33,36}</string>
                <key>textureRect</key>
                <string>{{2014,2007},{33,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general/dialog/bg-dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{977,596}</string>
                <key>spriteSourceSize</key>
                <string>{977,596}</string>
                <key>textureRect</key>
                <string>{{1403,1},{977,596}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general/dialog/cell-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,52}</string>
                <key>spriteSourceSize</key>
                <string>{10,52}</string>
                <key>textureRect</key>
                <string>{{1283,1865},{10,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general/dialog/paging.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,53}</string>
                <key>spriteSourceSize</key>
                <string>{127,53}</string>
                <key>textureRect</key>
                <string>{{1160,1974},{127,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general/dialog/row-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,52}</string>
                <key>spriteSourceSize</key>
                <string>{102,52}</string>
                <key>textureRect</key>
                <string>{{1,1992},{102,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general/dialog/tabs/tab-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,68}</string>
                <key>spriteSourceSize</key>
                <string>{199,68}</string>
                <key>textureRect</key>
                <string>{{771,1974},{199,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general/progressbar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,19}</string>
                <key>spriteSourceSize</key>
                <string>{554,19}</string>
                <key>textureRect</key>
                <string>{{1299,1888},{554,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general/progressbar_loaded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,16}</string>
                <key>spriteSourceSize</key>
                <string>{550,16}</string>
                <key>textureRect</key>
                <string>{{1,1974},{550,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general/slide_handler.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{1573,1762},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame/ingame-bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,900}</string>
                <key>spriteSourceSize</key>
                <string>{1400,900}</string>
                <key>textureRect</key>
                <string>{{1,903},{1400,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame/xocdia/bat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,153}</string>
                <key>spriteSourceSize</key>
                <string>{157,153}</string>
                <key>textureRect</key>
                <string>{{1855,1888},{157,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame/xocdia/bg-tien-user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,61}</string>
                <key>spriteSourceSize</key>
                <string>{216,61}</string>
                <key>textureRect</key>
                <string>{{553,1974},{216,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame/xocdia/do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{1523,1762},{22,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame/xocdia/trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{1548,1762},{22,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login/Progressbar_load.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,16}</string>
                <key>spriteSourceSize</key>
                <string>{550,16}</string>
                <key>textureRect</key>
                <string>{{1,1974},{550,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/Progressbar_load2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,19}</string>
                <key>spriteSourceSize</key>
                <string>{554,19}</string>
                <key>textureRect</key>
                <string>{{1299,1888},{554,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/girl-loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,598}</string>
                <key>spriteSourceSize</key>
                <string>{780,598}</string>
                <key>textureRect</key>
                <string>{{1403,980},{780,598}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login/loading_fixed_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{2001,51},{46,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>outgame/bottombar/bg-footer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,117}</string>
                <key>spriteSourceSize</key>
                <string>{20,117}</string>
                <key>textureRect</key>
                <string>{{2014,1888},{20,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outgame/bottombar/btn-nap-tien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,63}</string>
                <key>spriteSourceSize</key>
                <string>{135,63}</string>
                <key>textureRect</key>
                <string>{{1780,1909},{135,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>outgame/bottombar/ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,42}</string>
                <key>spriteSourceSize</key>
                <string>{43,42}</string>
                <key>textureRect</key>
                <string>{{2001,99},{43,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>outgame/rank/head_crown_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{54,40}</string>
                <key>textureRect</key>
                <string>{{309,1992},{54,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outgame/rank/head_crown_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{54,40}</string>
                <key>textureRect</key>
                <string>{{365,1992},{54,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outgame/rank/head_crown_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{54,40}</string>
                <key>textureRect</key>
                <string>{{421,1992},{54,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outgame/rank/vip_icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,24}</string>
                <key>textureRect</key>
                <string>{{105,2015},{40,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outgame/rank/vip_icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,23}</string>
                <key>spriteSourceSize</key>
                <string>{38,23}</string>
                <key>textureRect</key>
                <string>{{147,2015},{38,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outgame/rank/vip_icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,23}</string>
                <key>spriteSourceSize</key>
                <string>{36,23}</string>
                <key>textureRect</key>
                <string>{{187,2015},{36,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outgame/table-scene/Progressbar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,21}</string>
                <key>spriteSourceSize</key>
                <string>{100,21}</string>
                <key>textureRect</key>
                <string>{{105,1992},{100,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outgame/table-scene/Progressbar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,21}</string>
                <key>spriteSourceSize</key>
                <string>{100,21}</string>
                <key>textureRect</key>
                <string>{{207,1992},{100,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outgame/table-scene/bg-list-table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,107}</string>
                <key>spriteSourceSize</key>
                <string>{1280,107}</string>
                <key>textureRect</key>
                <string>{{1,1865},{1280,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outgame/table-scene/chip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{1445,1762},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outgame/table-scene/mtt-list-head-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,37}</string>
                <key>spriteSourceSize</key>
                <string>{2,37}</string>
                <key>textureRect</key>
                <string>{{1295,1865},{2,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outgame/table-scene/mtt-tab-bar-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{732,81}</string>
                <key>spriteSourceSize</key>
                <string>{732,81}</string>
                <key>textureRect</key>
                <string>{{1302,1805},{732,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outgame/table-scene/mtt-tab-bar-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,59}</string>
                <key>spriteSourceSize</key>
                <string>{186,59}</string>
                <key>textureRect</key>
                <string>{{972,1974},{186,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outgame/table-scene/personalCloseIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{1484,1762},{37,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outgame/table-scene/segment-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1299,58}</string>
                <key>spriteSourceSize</key>
                <string>{1299,58}</string>
                <key>textureRect</key>
                <string>{{1,1805},{1299,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outgame/userinfo/btn-upload-image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1403,1762},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outgame/userinfo/ico-key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{22,27}</string>
                <key>textureRect</key>
                <string>{{285,2015},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outgame/userinfo/ico-mail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{255,2015},{26,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>outgame/userinfo/ico-phone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{225,2015},{27,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blue-theme-1.png</string>
            <key>size</key>
            <string>{2048,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a194b72ed9c0c456055d3b1cb33a5be:2063a5a97150da6548cd99ec460213ef:bf4ff2b1809aae0776a7ca8817df0eea$</string>
            <key>textureFileName</key>
            <string>blue-theme-1.png</string>
        </dict>
    </dict>
</plist>
