<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poker-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,118}</string>
                <key>spriteSourceSize</key>
                <string>{88,118}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,118}</string>
                <key>spriteSourceSize</key>
                <string>{88,118}</string>
                <key>textureRect</key>
                <string>{{91,1},{88,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-big-club.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{549,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-big-diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{549,63},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-big-heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{611,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-big-spade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{611,63},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-dark-light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{84,112}</string>
                <key>spriteSourceSize</key>
                <string>{88,118}</string>
                <key>textureRect</key>
                <string>{{181,1},{84,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-hight-light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{88,118}</string>
                <key>textureRect</key>
                <string>{{267,1},{82,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-jack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{351,1},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-king.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{417,1},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-queen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{483,1},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-small-club.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{351,83},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-small-diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{377,83},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-small-heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{403,83},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-small-spade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{429,83},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card_new.png</string>
            <key>size</key>
            <string>{672,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83bab289342b42ea934d94b1a1d145e1:372c5325ab60892592644d4c3a961476:4c9867c5589f53c299e3639dbc619dc7$</string>
            <key>textureFileName</key>
            <string>card_new.png</string>
        </dict>
    </dict>
</plist>
