<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poker-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,118}</string>
                <key>spriteSourceSize</key>
                <string>{88,118}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker-background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,118}</string>
                <key>spriteSourceSize</key>
                <string>{88,118}</string>
                <key>textureRect</key>
                <string>{{1,91},{88,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker-big-club.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{55,538},{52,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-big-diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{48,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,596},{48,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker-big-heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{61,594},{52,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker-big-spade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,538},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-dark-light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{84,112}</string>
                <key>spriteSourceSize</key>
                <string>{88,118}</string>
                <key>textureRect</key>
                <string>{{1,181},{84,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker-hight-light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{88,118}</string>
                <key>textureRect</key>
                <string>{{1,267},{82,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker-jack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,74}</string>
                <key>spriteSourceSize</key>
                <string>{63,74}</string>
                <key>textureRect</key>
                <string>{{1,351},{63,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker-king.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,73}</string>
                <key>spriteSourceSize</key>
                <string>{62,73}</string>
                <key>textureRect</key>
                <string>{{1,416},{62,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker-queen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,73}</string>
                <key>spriteSourceSize</key>
                <string>{56,73}</string>
                <key>textureRect</key>
                <string>{{1,480},{56,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker-small-club.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{77,351},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-small-diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{77,377},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-small-heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{77,403},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker-small-spade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{76,429},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card_new.png</string>
            <key>size</key>
            <string>{120,647}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe9d3f5eed5936d43990e58b20dca65b:d512a10a5113a409c292960dd82ba336:4c9867c5589f53c299e3639dbc619dc7$</string>
            <key>textureFileName</key>
            <string>card_new.png</string>
        </dict>
    </dict>
</plist>
