<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baucua/ban2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{989,446}</string>
                <key>spriteSourceSize</key>
                <string>{991,452}</string>
                <key>textureRect</key>
                <string>{{1,1179},{989,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baucua/bet_mo_bat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{352,102}</string>
                <key>spriteSourceSize</key>
                <string>{492,112}</string>
                <key>textureRect</key>
                <string>{{1485,204},{352,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baucua/bet_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{564,98}</string>
                <key>spriteSourceSize</key>
                <string>{564,138}</string>
                <key>textureRect</key>
                <string>{{1283,1},{564,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baucua/bet_van_moi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,100}</string>
                <key>spriteSourceSize</key>
                <string>{450,100}</string>
                <key>textureRect</key>
                <string>{{1383,1},{448,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baucua/bg-baucua.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baucua/bg-history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,57}</string>
                <key>spriteSourceSize</key>
                <string>{238,57}</string>
                <key>textureRect</key>
                <string>{{1290,1345},{238,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baucua/chip_selected_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,135}</string>
                <key>spriteSourceSize</key>
                <string>{201,135}</string>
                <key>textureRect</key>
                <string>{{1485,1},{201,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baucua/gocban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1521,743},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baucua/icon-moichoi-bc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1413,838},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieng/card_type_message.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1544,1111},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieng/guide-lieng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,448}</string>
                <key>spriteSourceSize</key>
                <string>{370,450}</string>
                <key>textureRect</key>
                <string>{{995,723},{362,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieng/tattay-me.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{356,170}</string>
                <key>spriteSourceSize</key>
                <string>{360,170}</string>
                <key>textureRect</key>
                <string>{{995,1173},{356,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieng/tattay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{208,136}</string>
                <key>spriteSourceSize</key>
                <string>{210,138}</string>
                <key>textureRect</key>
                <string>{{1359,964},{208,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lieng/todautien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1582,1020},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieng/upbai-me.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,52}</string>
                <key>spriteSourceSize</key>
                <string>{240,80}</string>
                <key>textureRect</key>
                <string>{{1359,722},{240,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lieng/upbo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{156,55}</string>
                <key>spriteSourceSize</key>
                <string>{158,55}</string>
                <key>textureRect</key>
                <string>{{1422,556},{156,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taixiu/clock0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1413,722},{106,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu/control-table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{992,454}</string>
                <key>spriteSourceSize</key>
                <string>{1000,460}</string>
                <key>textureRect</key>
                <string>{{1,723},{992,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu/dia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,296}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{992,1345},{296,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu/dice/dice_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,89}</string>
                <key>spriteSourceSize</key>
                <string>{83,89}</string>
                <key>textureRect</key>
                <string>{{1509,838},{83,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu/dice/dice_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,89}</string>
                <key>spriteSourceSize</key>
                <string>{83,89}</string>
                <key>textureRect</key>
                <string>{{1509,929},{83,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu/dice/dice_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,89}</string>
                <key>spriteSourceSize</key>
                <string>{83,89}</string>
                <key>textureRect</key>
                <string>{{1497,1020},{83,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu/dice/dice_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,89}</string>
                <key>spriteSourceSize</key>
                <string>{83,89}</string>
                <key>textureRect</key>
                <string>{{1535,1181},{83,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu/dice/dice_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,89}</string>
                <key>spriteSourceSize</key>
                <string>{83,89}</string>
                <key>textureRect</key>
                <string>{{1535,1272},{83,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu/dice/dice_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,89}</string>
                <key>spriteSourceSize</key>
                <string>{83,89}</string>
                <key>textureRect</key>
                <string>{{1536,1363},{83,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu/face/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1290,1585},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu/face/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{43,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1536,1454},{43,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu/face/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1497,1111},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu/face/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1479,558},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu/face/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1479,605},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu/face/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1479,652},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu/radius-light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,231}</string>
                <key>spriteSourceSize</key>
                <string>{180,231}</string>
                <key>textureRect</key>
                <string>{{1353,1174},{180,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu/square-light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,100}</string>
                <key>spriteSourceSize</key>
                <string>{103,100}</string>
                <key>textureRect</key>
                <string>{{1383,451},{103,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taixiu/taixiu-dealer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,153}</string>
                <key>spriteSourceSize</key>
                <string>{137,153}</string>
                <key>textureRect</key>
                <string>{{1283,567},{137,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text/lieng/btn-theo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,85}</string>
                <key>spriteSourceSize</key>
                <string>{187,85}</string>
                <key>textureRect</key>
                <string>{{1535,558},{183,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text/lieng/btn-to.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,85}</string>
                <key>spriteSourceSize</key>
                <string>{187,85}</string>
                <key>textureRect</key>
                <string>{{1349,1407},{185,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text/lieng/btn-upbo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,85}</string>
                <key>spriteSourceSize</key>
                <string>{187,85}</string>
                <key>textureRect</key>
                <string>{{1349,1494},{185,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame-p2.png</string>
            <key>size</key>
            <string>{1621,1642}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b7b45a8c0ee6a13379ffa065aaeb7c8:82ad69b2e53044ad1600c89f74011cd9:3ba2b9926b3ac23dfba520c43e9e10e5$</string>
            <key>textureFileName</key>
            <string>ingame-p2.png</string>
        </dict>
    </dict>
</plist>
