<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ingame/baucua/ban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{991,452}</string>
                <key>spriteSourceSize</key>
                <string>{991,452}</string>
                <key>textureRect</key>
                <string>{{1,723},{991,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame/baucua/ban2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{989,446}</string>
                <key>spriteSourceSize</key>
                <string>{991,452}</string>
                <key>textureRect</key>
                <string>{{455,723},{989,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame/baucua/bet_mo_bat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{352,102}</string>
                <key>spriteSourceSize</key>
                <string>{492,112}</string>
                <key>textureRect</key>
                <string>{{1267,1097},{352,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame/baucua/bet_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{564,98}</string>
                <key>spriteSourceSize</key>
                <string>{564,138}</string>
                <key>textureRect</key>
                <string>{{1621,1097},{564,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame/baucua/bet_van_moi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,100}</string>
                <key>spriteSourceSize</key>
                <string>{450,100}</string>
                <key>textureRect</key>
                <string>{{1267,995},{448,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame/baucua/bg-baucua.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame/baucua/bg-history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,57}</string>
                <key>spriteSourceSize</key>
                <string>{238,57}</string>
                <key>textureRect</key>
                <string>{{1201,1173},{238,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame/baucua/chip_selected_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,135}</string>
                <key>spriteSourceSize</key>
                <string>{201,135}</string>
                <key>textureRect</key>
                <string>{{1260,1201},{201,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame/baucua/gocban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1328,1503},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame/baucua/icon-moichoi-bc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1223,1605},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame/lieng/card_type_message.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1376,1395},{70,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame/lieng/guide-lieng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,448}</string>
                <key>spriteSourceSize</key>
                <string>{370,450}</string>
                <key>textureRect</key>
                <string>{{903,723},{362,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame/lieng/tattay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{208,136}</string>
                <key>spriteSourceSize</key>
                <string>{210,138}</string>
                <key>textureRect</key>
                <string>{{1085,1471},{208,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame/lieng/todautien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1201,1413},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame/lieng/upbo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{156,55}</string>
                <key>spriteSourceSize</key>
                <string>{158,55}</string>
                <key>textureRect</key>
                <string>{{1260,1338},{156,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame/taixiu/clock0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1260,1395},{106,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame/taixiu/control-table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{992,454}</string>
                <key>spriteSourceSize</key>
                <string>{1000,460}</string>
                <key>textureRect</key>
                <string>{{1283,1},{992,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame/taixiu/dia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,296}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{903,1173},{296,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame/taixiu/radius-light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,231}</string>
                <key>spriteSourceSize</key>
                <string>{180,231}</string>
                <key>textureRect</key>
                <string>{{903,1471},{180,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame/taixiu/square-light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,100}</string>
                <key>spriteSourceSize</key>
                <string>{103,100}</string>
                <key>textureRect</key>
                <string>{{1223,1503},{103,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame/taixiu/taixiu-dealer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,153}</string>
                <key>spriteSourceSize</key>
                <string>{137,153}</string>
                <key>textureRect</key>
                <string>{{1463,1201},{137,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame-p2.png</string>
            <key>size</key>
            <string>{1738,1715}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c9ed719f2e4a1822283163b6ffe3137:ddd8424802f3b2d6d3c2014da85b5c27:3ba2b9926b3ac23dfba520c43e9e10e5$</string>
            <key>textureFileName</key>
            <string>ingame-p2.png</string>
        </dict>
    </dict>
</plist>
