<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>active_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{1717,1541},{65,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{947,573}</string>
                <key>spriteSourceSize</key>
                <string>{947,573}</string>
                <key>textureRect</key>
                <string>{{1,1},{947,573}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{676,562}</string>
                <key>spriteSourceSize</key>
                <string>{676,562}</string>
                <key>textureRect</key>
                <string>{{1,576},{676,562}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_main.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,305}</string>
                <key>spriteSourceSize</key>
                <string>{350,305}</string>
                <key>textureRect</key>
                <string>{{1,1140},{350,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_small0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,125}</string>
                <key>spriteSourceSize</key>
                <string>{202,125}</string>
                <key>textureRect</key>
                <string>{{1761,1304},{202,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_small1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,108}</string>
                <key>spriteSourceSize</key>
                <string>{185,108}</string>
                <key>textureRect</key>
                <string>{{1761,1431},{185,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_quay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,59}</string>
                <key>spriteSourceSize</key>
                <string>{158,59}</string>
                <key>textureRect</key>
                <string>{{1237,1524},{158,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sieutoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,59}</string>
                <key>spriteSourceSize</key>
                <string>{158,59}</string>
                <key>textureRect</key>
                <string>{{1397,1524},{158,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tuquay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,59}</string>
                <key>spriteSourceSize</key>
                <string>{158,59}</string>
                <key>textureRect</key>
                <string>{{1557,1524},{158,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_kc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{810,381}</string>
                <key>spriteSourceSize</key>
                <string>{810,381}</string>
                <key>textureRect</key>
                <string>{{950,1},{810,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{1712,384},{44,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{848,576},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,28}</string>
                <key>spriteSourceSize</key>
                <string>{15,28}</string>
                <key>textureRect</key>
                <string>{{1717,1524},{15,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{1026,1068},{25,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1872,532},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1851,618},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,57}</string>
                <key>spriteSourceSize</key>
                <string>{107,57}</string>
                <key>textureRect</key>
                <string>{{1872,473},{107,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,57}</string>
                <key>spriteSourceSize</key>
                <string>{107,57}</string>
                <key>textureRect</key>
                <string>{{1712,534},{107,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,57}</string>
                <key>spriteSourceSize</key>
                <string>{107,57}</string>
                <key>textureRect</key>
                <string>{{1792,593},{107,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1851,704},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,57}</string>
                <key>spriteSourceSize</key>
                <string>{107,57}</string>
                <key>textureRect</key>
                <string>{{1792,702},{107,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1851,790},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1851,876},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1851,962},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1872,532},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{1762,1},{234,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{1762,237},{234,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{353,1140},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{950,384},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{1186,384},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{1422,384},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{679,884},{234,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{848,612},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{1084,612},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{1320,612},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{907,840},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{1143,840},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{1379,840},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{1556,612},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{1615,840},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{589,1140},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{353,1368},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{589,1368},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{825,1120},{234,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{825,1356},{234,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{1053,1068},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{1053,1296},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{1289,1068},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{1289,1296},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{1525,1068},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{1525,1296},{234,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{234,226}</string>
                <key>textureRect</key>
                <string>{{1761,1068},{234,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,148}</string>
                <key>spriteSourceSize</key>
                <string>{298,148}</string>
                <key>textureRect</key>
                <string>{{1,1447},{298,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rounded_rectangle_1019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,59}</string>
                <key>spriteSourceSize</key>
                <string>{158,59}</string>
                <key>textureRect</key>
                <string>{{1712,473},{158,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rounded_rectangle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,52}</string>
                <key>spriteSourceSize</key>
                <string>{203,52}</string>
                <key>textureRect</key>
                <string>{{1658,384},{203,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rounded_rectangle_625.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,51}</string>
                <key>spriteSourceSize</key>
                <string>{182,51}</string>
                <key>textureRect</key>
                <string>{{1053,1524},{182,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tsl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,167}</string>
                <key>spriteSourceSize</key>
                <string>{306,167}</string>
                <key>textureRect</key>
                <string>{{679,576},{306,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_sieutoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,37}</string>
                <key>spriteSourceSize</key>
                <string>{123,37}</string>
                <key>textureRect</key>
                <string>{{301,1447},{123,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_tuquay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,36}</string>
                <key>spriteSourceSize</key>
                <string>{117,36}</string>
                <key>textureRect</key>
                <string>{{907,1068},{117,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slotKimCuong.png</string>
            <key>size</key>
            <string>{1989,1607}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3fdfb5529cbcfc032f93ade76f492e9:5e9c9f9ffe09a3e78845b3fc2476f7a8:950e5743d4c4c5cda9b02790371f181d$</string>
            <key>textureFileName</key>
            <string>slotKimCuong.png</string>
        </dict>
    </dict>
</plist>
