<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,153}</string>
                <key>spriteSourceSize</key>
                <string>{157,153}</string>
                <key>textureRect</key>
                <string>{{1,803},{157,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>board_timeline_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>board_timeline_progress_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1,211},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{1,421},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1,626},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>circles.png</string>
            <key>size</key>
            <string>{210,957}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e130f8a89c79057515e736be87efd225:28733e79b4177dffd8cd47a998d9182d:df3503ad8c278b4a8e586aa5a9e9cd19$</string>
            <key>textureFileName</key>
            <string>circles.png</string>
        </dict>
    </dict>
</plist>
