<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1882,1037},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{1334,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-dropdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,483}</string>
                <key>spriteSourceSize</key>
                <string>{124,483}</string>
                <key>textureRect</key>
                <string>{{1,1183},{124,483}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{873,1205},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/arrow-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{615,1246},{15,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/btn-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,86}</string>
                <key>textureRect</key>
                <string>{{1792,1164},{84,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/btn-chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,86}</string>
                <key>textureRect</key>
                <string>{{1794,1058},{84,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/btn-more.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,86}</string>
                <key>textureRect</key>
                <string>{{1329,1168},{84,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/btn-out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{1878,1200},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/ninePaths/btn-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{1035,1235},{104,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/ninePaths/btn-do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{1141,1235},{104,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/ninePaths/btn-tim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{1688,980},{104,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/ninePaths/btn-vang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{1688,1086},{104,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/ninePaths/btn-xanhla.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{1766,980},{104,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1878,1144},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,36}</string>
                <key>spriteSourceSize</key>
                <string>{33,36}</string>
                <key>textureRect</key>
                <string>{{630,1237},{33,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-ingame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,428}</string>
                <key>spriteSourceSize</key>
                <string>{669,428}</string>
                <key>textureRect</key>
                <string>{{1,753},{669,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog/bg-dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{977,596}</string>
                <key>spriteSourceSize</key>
                <string>{977,596}</string>
                <key>textureRect</key>
                <string>{{1337,1},{977,596}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog/card-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,372}</string>
                <key>spriteSourceSize</key>
                <string>{262,372}</string>
                <key>textureRect</key>
                <string>{{672,753},{262,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog/cell-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,52}</string>
                <key>spriteSourceSize</key>
                <string>{10,52}</string>
                <key>textureRect</key>
                <string>{{630,1183},{10,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog/paging.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,53}</string>
                <key>spriteSourceSize</key>
                <string>{127,53}</string>
                <key>textureRect</key>
                <string>{{486,1246},{127,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog/row-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,52}</string>
                <key>spriteSourceSize</key>
                <string>{102,52}</string>
                <key>textureRect</key>
                <string>{{981,1205},{102,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog/sms-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,186}</string>
                <key>spriteSourceSize</key>
                <string>{357,186}</string>
                <key>textureRect</key>
                <string>{{672,1017},{357,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog/sms-nomarl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,186}</string>
                <key>spriteSourceSize</key>
                <string>{357,186}</string>
                <key>textureRect</key>
                <string>{{1329,980},{357,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog/tabs/tab-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,68}</string>
                <key>spriteSourceSize</key>
                <string>{199,68}</string>
                <key>textureRect</key>
                <string>{{672,1205},{199,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog/tabs/tab-nomarl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,61}</string>
                <key>spriteSourceSize</key>
                <string>{142,61}</string>
                <key>textureRect</key>
                <string>{{486,1183},{142,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1872,980},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nodata.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,242}</string>
                <key>spriteSourceSize</key>
                <string>{480,242}</string>
                <key>textureRect</key>
                <string>{{1046,753},{480,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progressbar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,19}</string>
                <key>spriteSourceSize</key>
                <string>{554,19}</string>
                <key>textureRect</key>
                <string>{{1290,753},{554,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progressbar_loaded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,16}</string>
                <key>spriteSourceSize</key>
                <string>{550,16}</string>
                <key>textureRect</key>
                <string>{{1311,753},{550,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>send.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,28}</string>
                <key>spriteSourceSize</key>
                <string>{29,28}</string>
                <key>textureRect</key>
                <string>{{642,1183},{29,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slide_handler.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{642,1214},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>textbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,72}</string>
                <key>spriteSourceSize</key>
                <string>{102,72}</string>
                <key>textureRect</key>
                <string>{{1688,1164},{102,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>general.png</string>
            <key>size</key>
            <string>{1934,1312}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3446f0ebb583756e1fb625a5b12331d:eb9ef28a5daf007790eda8b76c7391c4:8a709fdd72fed976d4b9069b2228afd3$</string>
            <key>textureFileName</key>
            <string>general.png</string>
        </dict>
    </dict>
</plist>
