<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1421,202},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,900}</string>
                <key>spriteSourceSize</key>
                <string>{1400,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-dropdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,483}</string>
                <key>spriteSourceSize</key>
                <string>{124,483}</string>
                <key>textureRect</key>
                <string>{{931,1593},{124,483}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{719,1501},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/arrow-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{1443,335},{15,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/btn-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,86}</string>
                <key>textureRect</key>
                <string>{{1404,1335},{84,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/btn-chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,86}</string>
                <key>textureRect</key>
                <string>{{1404,1421},{84,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/btn-more.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,86}</string>
                <key>textureRect</key>
                <string>{{1404,1507},{84,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/btn-out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{719,1609},{52,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/ninePaths/btn-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{1403,805},{104,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/ninePaths/btn-do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{1404,911},{104,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/ninePaths/btn-tim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{1404,1017},{104,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/ninePaths/btn-vang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{1404,1123},{104,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/ninePaths/btn-xanhla.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{1404,1229},{104,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{1421,254},{44,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,36}</string>
                <key>spriteSourceSize</key>
                <string>{33,36}</string>
                <key>textureRect</key>
                <string>{{1421,300},{33,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog-ingame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{664,422}</string>
                <key>spriteSourceSize</key>
                <string>{664,422}</string>
                <key>textureRect</key>
                <string>{{980,911},{664,422}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog/bg-dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{977,596}</string>
                <key>spriteSourceSize</key>
                <string>{977,596}</string>
                <key>textureRect</key>
                <string>{{1,903},{977,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog/cell-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,52}</string>
                <key>spriteSourceSize</key>
                <string>{10,52}</string>
                <key>textureRect</key>
                <string>{{1459,300},{10,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog/paging.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,53}</string>
                <key>spriteSourceSize</key>
                <string>{127,53}</string>
                <key>textureRect</key>
                <string>{{827,1501},{127,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog/row-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,52}</string>
                <key>spriteSourceSize</key>
                <string>{102,52}</string>
                <key>textureRect</key>
                <string>{{827,1556},{102,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog/sms-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,186}</string>
                <key>spriteSourceSize</key>
                <string>{357,186}</string>
                <key>textureRect</key>
                <string>{{1,1501},{357,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog/sms-nomarl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,186}</string>
                <key>spriteSourceSize</key>
                <string>{357,186}</string>
                <key>textureRect</key>
                <string>{{360,1501},{357,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog/tabs/tab-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,68}</string>
                <key>spriteSourceSize</key>
                <string>{199,68}</string>
                <key>textureRect</key>
                <string>{{1403,1},{199,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog/tabs/tab-nomarl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,61}</string>
                <key>spriteSourceSize</key>
                <string>{142,61}</string>
                <key>textureRect</key>
                <string>{{1421,557},{142,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progressbar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,19}</string>
                <key>spriteSourceSize</key>
                <string>{554,19}</string>
                <key>textureRect</key>
                <string>{{1473,1},{554,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progressbar_loaded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,16}</string>
                <key>spriteSourceSize</key>
                <string>{550,16}</string>
                <key>textureRect</key>
                <string>{{1403,202},{550,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slide_handler.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{1421,335},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>textbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,72}</string>
                <key>spriteSourceSize</key>
                <string>{102,72}</string>
                <key>textureRect</key>
                <string>{{1421,701},{102,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>general.png</string>
            <key>size</key>
            <string>{1494,1718}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7d137c3501617ef436c3c7f2b04ec6c:ed50a57df3767f583396418192b3f22a:8a709fdd72fed976d4b9069b2228afd3$</string>
            <key>textureFileName</key>
            <string>general.png</string>
        </dict>
    </dict>
</plist>
