<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{360,1421},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,900}</string>
                <key>spriteSourceSize</key>
                <string>{1400,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-dropdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,483}</string>
                <key>spriteSourceSize</key>
                <string>{124,483}</string>
                <key>textureRect</key>
                <string>{{1348,980},{124,483}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1327,1536},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/arrow-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{1495,1657},{15,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/btn-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,86}</string>
                <key>textureRect</key>
                <string>{{719,1509},{84,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/btn-chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,86}</string>
                <key>textureRect</key>
                <string>{{805,1509},{84,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/btn-more.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,86}</string>
                <key>textureRect</key>
                <string>{{213,1609},{84,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/btn-out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{301,1609},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/ninePaths/btn-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{754,1403},{104,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/ninePaths/btn-do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{719,1597},{104,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/ninePaths/btn-tim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{825,1595},{104,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/ninePaths/btn-vang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{1,1609},{104,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/ninePaths/btn-xanhla.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{107,1609},{104,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{412,1421},{44,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,36}</string>
                <key>spriteSourceSize</key>
                <string>{33,36}</string>
                <key>textureRect</key>
                <string>{{1457,1657},{33,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog-ingame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{664,422}</string>
                <key>spriteSourceSize</key>
                <string>{664,422}</string>
                <key>textureRect</key>
                <string>{{903,980},{664,422}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog/bg-dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{977,596}</string>
                <key>spriteSourceSize</key>
                <string>{977,596}</string>
                <key>textureRect</key>
                <string>{{903,1},{977,596}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog/cell-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,52}</string>
                <key>spriteSourceSize</key>
                <string>{10,52}</string>
                <key>textureRect</key>
                <string>{{886,1403},{10,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog/paging.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,53}</string>
                <key>spriteSourceSize</key>
                <string>{127,53}</string>
                <key>textureRect</key>
                <string>{{1457,1528},{127,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog/row-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,52}</string>
                <key>spriteSourceSize</key>
                <string>{102,52}</string>
                <key>textureRect</key>
                <string>{{832,1403},{102,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog/sms-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,186}</string>
                <key>spriteSourceSize</key>
                <string>{357,186}</string>
                <key>textureRect</key>
                <string>{{1,1421},{357,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog/sms-nomarl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,186}</string>
                <key>spriteSourceSize</key>
                <string>{357,186}</string>
                <key>textureRect</key>
                <string>{{360,1473},{357,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog/tabs/tab-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,68}</string>
                <key>spriteSourceSize</key>
                <string>{199,68}</string>
                <key>textureRect</key>
                <string>{{553,1403},{199,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog/tabs/tab-nomarl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,61}</string>
                <key>spriteSourceSize</key>
                <string>{142,61}</string>
                <key>textureRect</key>
                <string>{{1348,1465},{142,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progressbar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,19}</string>
                <key>spriteSourceSize</key>
                <string>{554,19}</string>
                <key>textureRect</key>
                <string>{{1327,980},{554,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progressbar_loaded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,16}</string>
                <key>spriteSourceSize</key>
                <string>{550,16}</string>
                <key>textureRect</key>
                <string>{{1,1403},{550,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slide_handler.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{719,1473},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>general.png</string>
            <key>size</key>
            <string>{1511,1700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec70d1b18064f2351c1d0f53d661834c:7bfabdbb4fd92786df97663454462e73:8a709fdd72fed976d4b9069b2228afd3$</string>
            <key>textureFileName</key>
            <string>general.png</string>
        </dict>
    </dict>
</plist>
