<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bacay/bg-bien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{146,43}</string>
                <key>spriteSourceSize</key>
                <string>{150,45}</string>
                <key>textureRect</key>
                <string>{{1466,626},{146,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bacay/bg-cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{146,43}</string>
                <key>spriteSourceSize</key>
                <string>{150,45}</string>
                <key>textureRect</key>
                <string>{{1039,1078},{146,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bacay/bg-ga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,57}</string>
                <key>spriteSourceSize</key>
                <string>{238,57}</string>
                <key>textureRect</key>
                <string>{{1554,1},{238,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bacay/btn-cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{1503,902},{70,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bacay/coin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{1354,1265},{54,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bacay/ga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1536,768},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bacay/ga1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{790,1283},{36,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bacay/load.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,420}</string>
                <key>spriteSourceSize</key>
                <string>{35,420}</string>
                <key>textureRect</key>
                <string>{{1,1131},{35,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bacay/ranger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{226,536}</string>
                <key>spriteSourceSize</key>
                <string>{230,540}</string>
                <key>textureRect</key>
                <string>{{1,903},{226,536}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-diem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,45}</string>
                <key>spriteSourceSize</key>
                <string>{145,45}</string>
                <key>textureRect</key>
                <string>{{1039,1197},{143,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>board_timeline_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{153,1168},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card/bongmo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,155}</string>
                <key>spriteSourceSize</key>
                <string>{124,155}</string>
                <key>textureRect</key>
                <string>{{539,1029},{124,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chat/bg-dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{1187,1118},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat/btn-chat-log.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,52}</string>
                <key>textureRect</key>
                <string>{{447,1267},{62,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat/btn-chat-nhanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1423,1223},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat/btn-chat-smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1477,1222},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat/enter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{874,1283},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat/tab-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1575,1033},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat/tab-nomarl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1365,1121},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ellipse-card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1565,1231},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,900}</string>
                <key>spriteSourceSize</key>
                <string>{1400,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-coin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,62}</string>
                <key>spriteSourceSize</key>
                <string>{76,62}</string>
                <key>textureRect</key>
                <string>{{1595,537},{76,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-result-winner-box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,100}</string>
                <key>spriteSourceSize</key>
                <string>{287,100}</string>
                <key>textureRect</key>
                <string>{{1403,337},{287,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_bacay_bet_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,46}</string>
                <key>spriteSourceSize</key>
                <string>{66,46}</string>
                <key>textureRect</key>
                <string>{{1138,1244},{66,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_bacay_chuong_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1619,1281},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_bacay_ga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{836,1283},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_board_owner_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1619,1231},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_board_time_line_second_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,1168},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_card_highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,123}</string>
                <key>spriteSourceSize</key>
                <string>{88,123}</string>
                <key>textureRect</key>
                <string>{{1505,497},{88,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_card_locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,123}</string>
                <key>spriteSourceSize</key>
                <string>{88,123}</string>
                <key>textureRect</key>
                <string>{{1591,802},{88,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_coin_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,26}</string>
                <key>spriteSourceSize</key>
                <string>{31,26}</string>
                <key>textureRect</key>
                <string>{{511,1267},{31,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_exit_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{1411,1277},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_guide_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{1457,1277},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_invite_player_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1569,1135},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_menu_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{40,58}</string>
                <key>textureRect</key>
                <string>{{1363,1223},{40,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_orange_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,51}</string>
                <key>spriteSourceSize</key>
                <string>{32,51}</string>
                <key>textureRect</key>
                <string>{{1531,1222},{32,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_phom_an_chot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1581,754},{98,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_player_chat_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{1503,1014},{100,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_player_timeline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1186,1226},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_star_gold_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{926,1199},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_star_gray_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1187,1078},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu-body-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,54}</string>
                <key>spriteSourceSize</key>
                <string>{72,54}</string>
                <key>textureRect</key>
                <string>{{1280,1248},{72,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{173,173}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1039,903},{173,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_timeline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{300,1168},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text/ba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{1403,844},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text/bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,66}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{1613,149},{106,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text/nhat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{130,68}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{1581,622},{130,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text/nhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{104,62}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{1617,327},{104,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text/phom/mom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{1553,357},{134,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text/phom/u-den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{142,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{1039,1123},{142,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text/phom/u-khan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{146,66}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{1613,1},{146,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text/phom/u-tron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,68}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{1511,622},{144,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text/phom/u.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,86}</string>
                <key>spriteSourceSize</key>
                <string>{160,90}</string>
                <key>textureRect</key>
                <string>{{1443,1032},{58,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text/sam/cong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{114,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{1554,241},{114,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text/sam/den-sam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{158,46}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{1505,337},{158,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text/sam/den-thoi-heo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,58}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{1214,1058},{144,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text/sam/thang-sam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{132,102}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{686,1171},{132,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text/sam/thoi-hai.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,124}</string>
                <key>spriteSourceSize</key>
                <string>{293,124}</string>
                <key>textureRect</key>
                <string>{{539,903},{293,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text/sam/treo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{106,46}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{926,1242},{106,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text/thang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{963,1108},{132,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text/thua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{128,58}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{1443,902},{128,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text/tlmn/dut-ba-bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{134,82}</string>
                <key>spriteSourceSize</key>
                <string>{160,90}</string>
                <key>textureRect</key>
                <string>{{790,1199},{134,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text/tlmn/lung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{110,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{1479,844},{110,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text/tlmn/thoi-ba-bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{134,90}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{447,1131},{134,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text/tlmn/ăn-trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{140,114}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{696,1029},{140,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{539,1155},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/bat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,153}</string>
                <key>spriteSourceSize</key>
                <string>{157,153}</string>
                <key>textureRect</key>
                <string>{{1214,903},{157,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/bg-chan-le.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1467,1120},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/bg-tien-user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,61}</string>
                <key>spriteSourceSize</key>
                <string>{216,61}</string>
                <key>textureRect</key>
                <string>{{1403,626},{216,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia/bg-vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1575,927},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/chan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,68}</string>
                <key>spriteSourceSize</key>
                <string>{146,68}</string>
                <key>textureRect</key>
                <string>{{1373,903},{146,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia/chip-btn-bg-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,62}</string>
                <key>spriteSourceSize</key>
                <string>{102,62}</string>
                <key>textureRect</key>
                <string>{{1617,433},{102,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia/chip-btn-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,62}</string>
                <key>spriteSourceSize</key>
                <string>{102,62}</string>
                <key>textureRect</key>
                <string>{{1034,1244},{102,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/chip-green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1466,774},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/chip-red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1373,1051},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/chip-violet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{1612,257},{68,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia/chip-yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1295,1118},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/dia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{834,903},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{423,1131},{22,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/grid-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,149}</string>
                <key>spriteSourceSize</key>
                <string>{89,149}</string>
                <key>textureRect</key>
                <string>{{812,1108},{89,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia/grid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,149}</string>
                <key>spriteSourceSize</key>
                <string>{334,149}</string>
                <key>textureRect</key>
                <string>{{1403,1},{334,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia/le.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{66,58}</string>
                <key>textureRect</key>
                <string>{{1295,1188},{66,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{1536,813},{22,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame.png</string>
            <key>size</key>
            <string>{1680,1320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:538762cb249753b16b1c38117ee7256e:7b8bebb15b831e99f0bb8ca679840d9c:de3c7a7fc0cae1649732adc36eb84a12$</string>
            <key>textureFileName</key>
            <string>ingame.png</string>
        </dict>
    </dict>
</plist>
