<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>board_timeline_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{1105,1710},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,900}</string>
                <key>spriteSourceSize</key>
                <string>{1400,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-coin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,62}</string>
                <key>spriteSourceSize</key>
                <string>{76,62}</string>
                <key>textureRect</key>
                <string>{{1231,1930},{76,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-result-winner-box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,169}</string>
                <key>spriteSourceSize</key>
                <string>{156,169}</string>
                <key>textureRect</key>
                <string>{{1,1876},{156,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame-result-winner-sunlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,131}</string>
                <key>spriteSourceSize</key>
                <string>{263,131}</string>
                <key>textureRect</key>
                <string>{{1403,638},{263,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame-slider-bet-amount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,82}</string>
                <key>spriteSourceSize</key>
                <string>{231,84}</string>
                <key>textureRect</key>
                <string>{{877,1625},{229,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-slider-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,635}</string>
                <key>spriteSourceSize</key>
                <string>{269,637}</string>
                <key>textureRect</key>
                <string>{{1403,1},{269,635}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-slider-confirmation-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{331,1877},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-slider-handle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,131}</string>
                <key>spriteSourceSize</key>
                <string>{75,131}</string>
                <key>textureRect</key>
                <string>{{1028,1709},{75,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-slider-range.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,493}</string>
                <key>spriteSourceSize</key>
                <string>{104,499}</string>
                <key>textureRect</key>
                <string>{{1,1625},{98,493}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_an_trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{141,50}</string>
                <key>spriteSourceSize</key>
                <string>{147,50}</string>
                <key>textureRect</key>
                <string>{{877,1800},{141,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_ba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,57}</string>
                <key>spriteSourceSize</key>
                <string>{77,57}</string>
                <key>textureRect</key>
                <string>{{1669,1866},{77,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_bacay_bet_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,46}</string>
                <key>spriteSourceSize</key>
                <string>{66,46}</string>
                <key>textureRect</key>
                <string>{{1741,789},{66,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_bacay_chuong_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1738,1933},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_bacay_ga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1700,1964},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,67}</string>
                <key>spriteSourceSize</key>
                <string>{101,67}</string>
                <key>textureRect</key>
                <string>{{1114,1857},{101,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,903},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_bg_darkcyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,65}</string>
                <key>spriteSourceSize</key>
                <string>{88,65}</string>
                <key>textureRect</key>
                <string>{{783,1815},{88,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_bg_violet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,46}</string>
                <key>spriteSourceSize</key>
                <string>{66,46}</string>
                <key>textureRect</key>
                <string>{{1217,1857},{66,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_board_owner_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{1700,1925},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_board_time_line_second_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{337,1725},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_board_time_line_text_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{379,94}</string>
                <key>spriteSourceSize</key>
                <string>{421,94}</string>
                <key>textureRect</key>
                <string>{{496,1625},{379,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_board_timeline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{409,121}</string>
                <key>spriteSourceSize</key>
                <string>{441,121}</string>
                <key>textureRect</key>
                <string>{{1674,1},{409,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_card_group.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,57}</string>
                <key>spriteSourceSize</key>
                <string>{65,57}</string>
                <key>textureRect</key>
                <string>{{1748,1866},{65,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_card_highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,123}</string>
                <key>spriteSourceSize</key>
                <string>{88,123}</string>
                <key>textureRect</key>
                <string>{{529,1872},{88,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_card_locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,123}</string>
                <key>spriteSourceSize</key>
                <string>{88,123}</string>
                <key>textureRect</key>
                <string>{{873,1852},{88,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_chat_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{49,44}</string>
                <key>spriteSourceSize</key>
                <string>{49,50}</string>
                <key>textureRect</key>
                <string>{{1574,1968},{49,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_coin_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,26}</string>
                <key>spriteSourceSize</key>
                <string>{31,26}</string>
                <key>textureRect</key>
                <string>{{582,1997},{31,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_cong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{619,1980},{100,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_darkcyan_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,49}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{1741,634},{66,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_default_avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{779,1882},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dut_ba_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{147,48}</string>
                <key>spriteSourceSize</key>
                <string>{147,50}</string>
                <key>textureRect</key>
                <string>{{479,1877},{147,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_exit_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{1625,1916},{44,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_green_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,51}</string>
                <key>spriteSourceSize</key>
                <string>{32,51}</string>
                <key>textureRect</key>
                <string>{{529,1997},{32,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_green_btn_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,51}</string>
                <key>spriteSourceSize</key>
                <string>{32,51}</string>
                <key>textureRect</key>
                <string>{{1625,2008},{32,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_guide_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{1625,1962},{44,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_invite_player_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{619,1872},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_lung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{98,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{931,1942},{98,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_main_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{1369,1866},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_menu_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,68}</string>
                <key>textureRect</key>
                <string>{{1737,560},{72,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_menu_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,50}</string>
                <key>spriteSourceSize</key>
                <string>{49,50}</string>
                <key>textureRect</key>
                <string>{{727,1970},{49,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_menu_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{40,58}</string>
                <key>textureRect</key>
                <string>{{1309,1930},{40,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_nhat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,83}</string>
                <key>spriteSourceSize</key>
                <string>{149,83}</string>
                <key>textureRect</key>
                <string>{{1108,1625},{149,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_nhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,72}</string>
                <key>spriteSourceSize</key>
                <string>{102,72}</string>
                <key>textureRect</key>
                <string>{{779,1968},{102,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_orange_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,51}</string>
                <key>spriteSourceSize</key>
                <string>{32,51}</string>
                <key>textureRect</key>
                <string>{{1666,1925},{32,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_phom_an_chot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{883,1942},{98,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_phom_mom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{82,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{998,1852},{82,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_phom_u.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{727,1868},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_phom_u_den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1466,1866},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_phom_u_khan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{727,1868},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_phom_u_phom_kin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{98,38}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1466,1918},{98,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_phom_u_tron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{977,1942},{98,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_player_chat_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{1764,837},{56,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_player_timeline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{783,1721},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_star_gold_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1259,1675},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_star_gray_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1044,1842},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{961,521}</string>
                <key>spriteSourceSize</key>
                <string>{1021,561}</string>
                <key>textureRect</key>
                <string>{{1283,903},{961,521}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_thang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,48}</string>
                <key>spriteSourceSize</key>
                <string>{99,50}</string>
                <key>textureRect</key>
                <string>{{1568,1866},{99,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_thoi_ba_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,48}</string>
                <key>spriteSourceSize</key>
                <string>{158,50}</string>
                <key>textureRect</key>
                <string>{{1536,843},{158,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_thua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{71,34}</string>
                <key>spriteSourceSize</key>
                <string>{77,50}</string>
                <key>textureRect</key>
                <string>{{1231,1994},{71,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_topup_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,50}</string>
                <key>spriteSourceSize</key>
                <string>{49,50}</string>
                <key>textureRect</key>
                <string>{{1574,1916},{49,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_violet_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,23}</string>
                <key>spriteSourceSize</key>
                <string>{34,23}</string>
                <key>textureRect</key>
                <string>{{1776,1933},{34,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu-body-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,54}</string>
                <key>spriteSourceSize</key>
                <string>{72,54}</string>
                <key>textureRect</key>
                <string>{{1449,1963},{72,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_timeline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{489,1725},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{636,1721},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/bat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,153}</string>
                <key>spriteSourceSize</key>
                <string>{157,153}</string>
                <key>textureRect</key>
                <string>{{172,1876},{157,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/bg-chan-le.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1129,1926},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/bg-tien-user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,61}</string>
                <key>spriteSourceSize</key>
                <string>{216,61}</string>
                <key>textureRect</key>
                <string>{{1674,412},{216,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia/bg-vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1023,1936},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/chan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,68}</string>
                <key>spriteSourceSize</key>
                <string>{146,68}</string>
                <key>textureRect</key>
                <string>{{1737,412},{146,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia/chip-btn-bg-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,62}</string>
                <key>spriteSourceSize</key>
                <string>{102,62}</string>
                <key>textureRect</key>
                <string>{{1741,685},{102,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia/chip-btn-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,62}</string>
                <key>spriteSourceSize</key>
                <string>{102,62}</string>
                <key>textureRect</key>
                <string>{{1265,1866},{102,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/chip-green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1044,1866},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/chip-red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1309,1972},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/chip-violet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{1505,1958},{68,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia/chip-yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1379,1963},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/dia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{1536,638},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{1259,1625},{22,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/grid-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,149}</string>
                <key>spriteSourceSize</key>
                <string>{89,149}</string>
                <key>textureRect</key>
                <string>{{877,1709},{89,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia/grid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,149}</string>
                <key>spriteSourceSize</key>
                <string>{334,149}</string>
                <key>textureRect</key>
                <string>{{1,1725},{334,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/le.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{66,58}</string>
                <key>textureRect</key>
                <string>{{1696,843},{66,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{1259,1650},{22,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame.png</string>
            <key>size</key>
            <string>{1808,2041}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f8c16b63f6f80e5c8a67ee979b47bb3:adcb0ef6ba9130604a82e2fdc16dacdb:de3c7a7fc0cae1649732adc36eb84a12$</string>
            <key>textureFileName</key>
            <string>ingame.png</string>
        </dict>
    </dict>
</plist>
