<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-diem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,61}</string>
                <key>spriteSourceSize</key>
                <string>{100,61}</string>
                <key>textureRect</key>
                <string>{{1142,903},{100,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>board_timeline_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{1655,551},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card/bongmo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,155}</string>
                <key>spriteSourceSize</key>
                <string>{124,155}</string>
                <key>textureRect</key>
                <string>{{1658,357},{124,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chat/bg-dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{1,903},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat/btn-chat-log.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,52}</string>
                <key>textureRect</key>
                <string>{{1602,365},{62,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chat/btn-chat-nhanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1815,357},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat/btn-chat-smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1815,411},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat/enter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{1403,132},{48,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chat/tab-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{764,903},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat/tab-nomarl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{866,903},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,900}</string>
                <key>spriteSourceSize</key>
                <string>{1400,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-coin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,62}</string>
                <key>spriteSourceSize</key>
                <string>{76,62}</string>
                <key>textureRect</key>
                <string>{{1590,695},{76,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame-result-winner-box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,100}</string>
                <key>spriteSourceSize</key>
                <string>{287,100}</string>
                <key>textureRect</key>
                <string>{{475,903},{287,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_bacay_bet_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,46}</string>
                <key>spriteSourceSize</key>
                <string>{66,46}</string>
                <key>textureRect</key>
                <string>{{1683,933},{66,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_bacay_chuong_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1403,1},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_bacay_ga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1403,41},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_board_owner_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1815,465},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_board_time_line_second_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1443,370},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_card_highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,123}</string>
                <key>spriteSourceSize</key>
                <string>{88,123}</string>
                <key>textureRect</key>
                <string>{{1443,886},{88,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_card_locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,123}</string>
                <key>spriteSourceSize</key>
                <string>{88,123}</string>
                <key>textureRect</key>
                <string>{{1533,886},{88,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_coin_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,26}</string>
                <key>spriteSourceSize</key>
                <string>{31,26}</string>
                <key>textureRect</key>
                <string>{{1403,182},{31,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_exit_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{1731,918},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_guide_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{1731,959},{44,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_invite_player_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1253,903},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_menu_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{40,58}</string>
                <key>textureRect</key>
                <string>{{1772,959},{40,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_orange_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,51}</string>
                <key>spriteSourceSize</key>
                <string>{32,51}</string>
                <key>textureRect</key>
                <string>{{1403,79},{32,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_phom_an_chot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1205,903},{98,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_player_chat_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{1070,903},{100,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_player_timeline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1349,903},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_star_gold_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1403,258},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_star_gray_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1403,282},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu-body-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,54}</string>
                <key>spriteSourceSize</key>
                <string>{72,54}</string>
                <key>textureRect</key>
                <string>{{1602,291},{72,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_timeline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{1443,592},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text/ba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{1602,215},{74,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text/bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,66}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{109,903},{106,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text/nhat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{130,68}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{1798,731},{130,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text/nhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{104,62}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{283,903},{104,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text/phom/mom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{1591,559},{134,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text/phom/u-den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{142,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{1654,698},{142,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text/phom/u-khan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{146,66}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{1655,483},{146,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text/phom/u-tron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,68}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{1802,585},{144,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text/phom/u.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,86}</string>
                <key>spriteSourceSize</key>
                <string>{160,90}</string>
                <key>textureRect</key>
                <string>{{1590,773},{58,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text/thang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{1654,772},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text/thua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{128,58}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{1595,429},{128,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{1443,739},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/bat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,153}</string>
                <key>spriteSourceSize</key>
                <string>{157,153}</string>
                <key>textureRect</key>
                <string>{{1443,215},{157,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/bg-chan-le.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{968,903},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/bg-tien-user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,61}</string>
                <key>spriteSourceSize</key>
                <string>{216,61}</string>
                <key>textureRect</key>
                <string>{{1443,152},{216,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/bg-vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{177,903},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/chan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,68}</string>
                <key>spriteSourceSize</key>
                <string>{146,68}</string>
                <key>textureRect</key>
                <string>{{1443,522},{146,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/chip-btn-bg-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,62}</string>
                <key>spriteSourceSize</key>
                <string>{102,62}</string>
                <key>textureRect</key>
                <string>{{347,903},{102,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia/chip-btn-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,62}</string>
                <key>spriteSourceSize</key>
                <string>{102,62}</string>
                <key>textureRect</key>
                <string>{{411,903},{102,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia/chip-green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1650,848},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/chip-red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1720,848},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/chip-violet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{1803,515},{68,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia/chip-yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1790,863},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/dia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{1661,152},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{1403,210},{22,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia/grid-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,149}</string>
                <key>spriteSourceSize</key>
                <string>{89,149}</string>
                <key>textureRect</key>
                <string>{{1779,1},{89,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/grid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,149}</string>
                <key>spriteSourceSize</key>
                <string>{334,149}</string>
                <key>textureRect</key>
                <string>{{1443,1},{334,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia/le.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{66,58}</string>
                <key>textureRect</key>
                <string>{{1623,933},{66,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia/trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{1403,234},{22,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame.png</string>
            <key>size</key>
            <string>{1871,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bf8675864bb0018a07b81602721cbe2:5c96861df1db11048380012cca84d8a4:de3c7a7fc0cae1649732adc36eb84a12$</string>
            <key>textureFileName</key>
            <string>ingame.png</string>
        </dict>
    </dict>
</plist>
