<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Progressbar_load.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,16}</string>
                <key>spriteSourceSize</key>
                <string>{550,16}</string>
                <key>textureRect</key>
                <string>{{1,857},{550,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Progressbar_load2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,19}</string>
                <key>spriteSourceSize</key>
                <string>{554,19}</string>
                <key>textureRect</key>
                <string>{{1,836},{554,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{701,775},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{701,819},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choi-ngay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,120}</string>
                <key>spriteSourceSize</key>
                <string>{348,120}</string>
                <key>textureRect</key>
                <string>{{1,714},{348,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dang-nhap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,120}</string>
                <key>spriteSourceSize</key>
                <string>{348,120}</string>
                <key>textureRect</key>
                <string>{{351,714},{348,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facebook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,120}</string>
                <key>spriteSourceSize</key>
                <string>{347,120}</string>
                <key>textureRect</key>
                <string>{{564,583},{347,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl-loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,580}</string>
                <key>spriteSourceSize</key>
                <string>{455,580}</string>
                <key>textureRect</key>
                <string>{{564,1},{455,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{561,711}</string>
                <key>spriteSourceSize</key>
                <string>{561,711}</string>
                <key>textureRect</key>
                <string>{{1,1},{561,711}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_fixed_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{701,727},{46,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_rotate_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{913,659},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>textbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,74}</string>
                <key>spriteSourceSize</key>
                <string>{104,74}</string>
                <key>textureRect</key>
                <string>{{913,583},{104,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1020,874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cbf6ff39bbe5b3af470b43cf2bb34fa:a329d264e022ae7ace7798f8ce9272b0:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
