<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-btn-group-login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1313,189}</string>
                <key>spriteSourceSize</key>
                <string>{1321,189}</string>
                <key>textureRect</key>
                <string>{{1,1},{1313,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>checkbox-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,53}</string>
                <key>spriteSourceSize</key>
                <string>{62,53}</string>
                <key>textureRect</key>
                <string>{{173,1449},{62,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{237,1449},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choi-ngay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,131}</string>
                <key>spriteSourceSize</key>
                <string>{349,131}</string>
                <key>textureRect</key>
                <string>{{1,1316},{349,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dang-nhap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,125}</string>
                <key>spriteSourceSize</key>
                <string>{331,125}</string>
                <key>textureRect</key>
                <string>{{352,1273},{331,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facebook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,124}</string>
                <key>spriteSourceSize</key>
                <string>{343,124}</string>
                <key>textureRect</key>
                <string>{{352,1400},{343,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl-loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{540,587}</string>
                <key>spriteSourceSize</key>
                <string>{542,587}</string>
                <key>textureRect</key>
                <string>{{192,684},{540,587}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{537,681}</string>
                <key>spriteSourceSize</key>
                <string>{537,683}</string>
                <key>textureRect</key>
                <string>{{192,1},{537,681}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_fixed_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{292,1449},{46,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_rotate_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{105,1449},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>textbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,72}</string>
                <key>spriteSourceSize</key>
                <string>{102,72}</string>
                <key>textureRect</key>
                <string>{{1,1449},{102,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{733,1525}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b663050013f3501eac7f9ca74bc6385:80189813e26529aa3ef476d098e57cbe:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
