<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-popup-gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1283,317}</string>
                <key>spriteSourceSize</key>
                <string>{1283,317}</string>
                <key>textureRect</key>
                <string>{{179,1},{1283,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-table.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,900}</string>
                <key>spriteSourceSize</key>
                <string>{1400,900}</string>
                <key>textureRect</key>
                <string>{{498,1},{1400,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottombar/bg-hotro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,62}</string>
                <key>spriteSourceSize</key>
                <string>{102,62}</string>
                <key>textureRect</key>
                <string>{{1503,1237},{102,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottombar/bg-thongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,62}</string>
                <key>spriteSourceSize</key>
                <string>{102,62}</string>
                <key>textureRect</key>
                <string>{{1607,1237},{102,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottombar/btn-su-kien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,109}</string>
                <key>spriteSourceSize</key>
                <string>{136,109}</string>
                <key>textureRect</key>
                <string>{{1028,1154},{136,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bottombar/btn-xep-hang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{101,109}</string>
                <key>spriteSourceSize</key>
                <string>{115,109}</string>
                <key>textureRect</key>
                <string>{{1552,903},{101,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{1341,903},{200,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buddy/block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1714,958},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy/huykb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1756,958},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy/locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{1,1303},{18,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buddy/nt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,35}</string>
                <key>spriteSourceSize</key>
                <string>{43,35}</string>
                <key>textureRect</key>
                <string>{{282,1286},{43,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy/offline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{490,1286},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy/online.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{514,1285},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy/tien2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,47}</string>
                <key>spriteSourceSize</key>
                <string>{49,47}</string>
                <key>textureRect</key>
                <string>{{1341,1105},{49,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy/unblock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1714,958},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,97}</string>
                <key>spriteSourceSize</key>
                <string>{125,97}</string>
                <key>textureRect</key>
                <string>{{1453,903},{125,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chip3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,90}</string>
                <key>spriteSourceSize</key>
                <string>{129,90}</string>
                <key>textureRect</key>
                <string>{{498,1154},{129,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doithuong-vp-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,157}</string>
                <key>spriteSourceSize</key>
                <string>{148,157}</string>
                <key>textureRect</key>
                <string>{{590,1154},{148,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doithuong-vp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,157}</string>
                <key>spriteSourceSize</key>
                <string>{148,157}</string>
                <key>textureRect</key>
                <string>{{740,1154},{148,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{841,249}</string>
                <key>spriteSourceSize</key>
                <string>{841,249}</string>
                <key>textureRect</key>
                <string>{{498,903},{841,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank/head_crown_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{54,40}</string>
                <key>textureRect</key>
                <string>{{1392,1105},{54,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank/head_crown_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{54,40}</string>
                <key>textureRect</key>
                <string>{{1448,1105},{54,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank/head_crown_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{54,40}</string>
                <key>textureRect</key>
                <string>{{1453,1030},{54,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank/vip_icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,24}</string>
                <key>textureRect</key>
                <string>{{408,1286},{40,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank/vip_icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,23}</string>
                <key>spriteSourceSize</key>
                <string>{38,23}</string>
                <key>textureRect</key>
                <string>{{450,1286},{38,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank/vip_icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,23}</string>
                <key>spriteSourceSize</key>
                <string>{36,23}</string>
                <key>textureRect</key>
                <string>{{257,1286},{36,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table-scene/Progressbar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,21}</string>
                <key>spriteSourceSize</key>
                <string>{100,21}</string>
                <key>textureRect</key>
                <string>{{119,1302},{100,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-scene/Progressbar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,21}</string>
                <key>spriteSourceSize</key>
                <string>{100,21}</string>
                <key>textureRect</key>
                <string>{{890,1292},{100,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-scene/background-table.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,900}</string>
                <key>spriteSourceSize</key>
                <string>{1400,900}</string>
                <key>textureRect</key>
                <string>{{498,1},{1400,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-scene/bg-list-table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,116}</string>
                <key>spriteSourceSize</key>
                <string>{1300,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{1300,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table-scene/btn-help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,86}</string>
                <key>spriteSourceSize</key>
                <string>{85,86}</string>
                <key>textureRect</key>
                <string>{{1139,1237},{85,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-scene/mtt-list-head-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,37}</string>
                <key>spriteSourceSize</key>
                <string>{2,37}</string>
                <key>textureRect</key>
                <string>{{25,1303},{2,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table-scene/mtt-tab-bar-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{732,81}</string>
                <key>spriteSourceSize</key>
                <string>{732,81}</string>
                <key>textureRect</key>
                <string>{{1139,1154},{732,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-scene/mtt-tab-bar-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,59}</string>
                <key>spriteSourceSize</key>
                <string>{186,59}</string>
                <key>textureRect</key>
                <string>{{1711,1237},{186,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-scene/personalCloseIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{221,1286},{37,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table-scene/segment-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1299,58}</string>
                <key>spriteSourceSize</key>
                <string>{1299,58}</string>
                <key>textureRect</key>
                <string>{{119,1},{1299,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbar/bg-naptien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,57}</string>
                <key>spriteSourceSize</key>
                <string>{100,57}</string>
                <key>textureRect</key>
                <string>{{1655,903},{100,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbar/bg-user-home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{890,1154},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar/btn-ban-be.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,71}</string>
                <key>spriteSourceSize</key>
                <string>{103,71}</string>
                <key>textureRect</key>
                <string>{{1398,1237},{103,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar/btn-doi-thuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,109}</string>
                <key>spriteSourceSize</key>
                <string>{115,109}</string>
                <key>textureRect</key>
                <string>{{1504,1030},{115,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbar/btn-nap-tien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{1712,1005},{60,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbar/btn-tin-nhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,73}</string>
                <key>spriteSourceSize</key>
                <string>{98,73}</string>
                <key>textureRect</key>
                <string>{{1298,1237},{98,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar/btn-xep-hang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{101,109}</string>
                <key>spriteSourceSize</key>
                <string>{115,109}</string>
                <key>textureRect</key>
                <string>{{1552,903},{101,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar/coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,95}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{1615,1014},{104,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbar/facebook-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,58}</string>
                <key>textureRect</key>
                <string>{{1712,1067},{57,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar/gopy-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{1768,903},{52,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbar/more.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,70}</string>
                <key>spriteSourceSize</key>
                <string>{86,70}</string>
                <key>textureRect</key>
                <string>{{1226,1237},{86,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbar/setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{1714,903},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo/btn-upload-image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1766,1000},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo/ico-key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{22,27}</string>
                <key>textureRect</key>
                <string>{{384,1286},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo/ico-mail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{356,1286},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo/ico-phone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{327,1286},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>outgame.png</string>
            <key>size</key>
            <string>{1899,1324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27c26699134eaedb66a52d90c43d8126:e3a75b18967f3de127c3709336ce5178:6b189571179a8292dd8969d6228a5cba$</string>
            <key>textureFileName</key>
            <string>outgame.png</string>
        </dict>
    </dict>
</plist>
