<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-popup-gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1283,317}</string>
                <key>spriteSourceSize</key>
                <string>{1283,317}</string>
                <key>textureRect</key>
                <string>{{1,903},{1283,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-table.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,900}</string>
                <key>spriteSourceSize</key>
                <string>{1400,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottombar/bg-footer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,117}</string>
                <key>spriteSourceSize</key>
                <string>{20,117}</string>
                <key>textureRect</key>
                <string>{{1348,957},{20,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottombar/bg-user-home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{1573,774},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottombar/btn-ban-be.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,84}</string>
                <key>spriteSourceSize</key>
                <string>{94,84}</string>
                <key>textureRect</key>
                <string>{{1610,1182},{94,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bottombar/btn-cua-hang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,85}</string>
                <key>spriteSourceSize</key>
                <string>{128,85}</string>
                <key>textureRect</key>
                <string>{{1611,1043},{128,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bottombar/btn-doi-thuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,94}</string>
                <key>spriteSourceSize</key>
                <string>{130,94}</string>
                <key>textureRect</key>
                <string>{{1512,923},{130,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bottombar/btn-nap-tien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{1512,1182},{98,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bottombar/btn-tin-nhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,78}</string>
                <key>spriteSourceSize</key>
                <string>{117,78}</string>
                <key>textureRect</key>
                <string>{{1711,774},{117,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bottombar/btn-xep-hang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{1700,912},{123,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bottombar/ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,42}</string>
                <key>spriteSourceSize</key>
                <string>{43,42}</string>
                <key>textureRect</key>
                <string>{{1348,1132},{43,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{1595,254},{200,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buddy/block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1335,1176},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy/huykb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1745,454},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy/locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{1766,398},{18,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buddy/offline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1763,133},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy/online.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1763,157},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy/tien2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,47}</string>
                <key>spriteSourceSize</key>
                <string>{49,47}</string>
                <key>textureRect</key>
                <string>{{1286,1171},{49,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buddy/unblock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1335,1176},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,97}</string>
                <key>spriteSourceSize</key>
                <string>{125,97}</string>
                <key>textureRect</key>
                <string>{{1512,1055},{125,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chip3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,90}</string>
                <key>spriteSourceSize</key>
                <string>{129,90}</string>
                <key>textureRect</key>
                <string>{{1608,912},{129,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doithuong-vp-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,157}</string>
                <key>spriteSourceSize</key>
                <string>{148,157}</string>
                <key>textureRect</key>
                <string>{{1595,456},{148,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doithuong-vp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,157}</string>
                <key>spriteSourceSize</key>
                <string>{148,157}</string>
                <key>textureRect</key>
                <string>{{1595,615},{148,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,166}</string>
                <key>spriteSourceSize</key>
                <string>{251,166}</string>
                <key>textureRect</key>
                <string>{{1595,1},{251,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nodata.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,60}</string>
                <key>spriteSourceSize</key>
                <string>{266,60}</string>
                <key>textureRect</key>
                <string>{{1286,903},{266,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank/head_crown_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{54,40}</string>
                <key>textureRect</key>
                <string>{{1696,1235},{54,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank/head_crown_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{54,40}</string>
                <key>textureRect</key>
                <string>{{1302,1222},{54,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank/head_crown_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{54,40}</string>
                <key>textureRect</key>
                <string>{{1348,1076},{54,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank/vip_icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,24}</string>
                <key>textureRect</key>
                <string>{{1377,1176},{40,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank/vip_icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,23}</string>
                <key>spriteSourceSize</key>
                <string>{38,23}</string>
                <key>textureRect</key>
                <string>{{1766,358},{38,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank/vip_icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,23}</string>
                <key>spriteSourceSize</key>
                <string>{36,23}</string>
                <key>textureRect</key>
                <string>{{1707,418},{36,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table-scene/Progressbar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,21}</string>
                <key>spriteSourceSize</key>
                <string>{100,21}</string>
                <key>textureRect</key>
                <string>{{1763,1},{100,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table-scene/Progressbar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,21}</string>
                <key>spriteSourceSize</key>
                <string>{100,21}</string>
                <key>textureRect</key>
                <string>{{1370,957},{100,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table-scene/background-table.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,900}</string>
                <key>spriteSourceSize</key>
                <string>{1400,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-scene/bg-list-table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,107}</string>
                <key>spriteSourceSize</key>
                <string>{1280,107}</string>
                <key>textureRect</key>
                <string>{{1403,1},{1280,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table-scene/chip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{1752,1235},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-scene/mtt-list-head-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,37}</string>
                <key>spriteSourceSize</key>
                <string>{2,37}</string>
                <key>textureRect</key>
                <string>{{1787,133},{2,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-scene/mtt-tab-bar-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{732,81}</string>
                <key>spriteSourceSize</key>
                <string>{732,81}</string>
                <key>textureRect</key>
                <string>{{1512,1},{732,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table-scene/mtt-tab-bar-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,59}</string>
                <key>spriteSourceSize</key>
                <string>{186,59}</string>
                <key>textureRect</key>
                <string>{{1512,735},{186,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table-scene/personalCloseIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{1732,418},{37,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-scene/segment-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1299,58}</string>
                <key>spriteSourceSize</key>
                <string>{1299,58}</string>
                <key>textureRect</key>
                <string>{{1,1222},{1299,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar/bg-hotro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,62}</string>
                <key>spriteSourceSize</key>
                <string>{102,62}</string>
                <key>textureRect</key>
                <string>{{1707,254},{102,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbar/bg-thongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,62}</string>
                <key>spriteSourceSize</key>
                <string>{102,62}</string>
                <key>textureRect</key>
                <string>{{1698,1043},{102,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbar/btn-su-kien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,86}</string>
                <key>textureRect</key>
                <string>{{1698,1147},{84,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar/facebook-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,58}</string>
                <key>textureRect</key>
                <string>{{1707,358},{57,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar/gopy-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{1344,1218},{52,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar/setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{1348,903},{52,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>userinfo/btn-upload-image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1745,496},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo/ico-key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{22,27}</string>
                <key>textureRect</key>
                <string>{{1762,1067},{22,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>userinfo/ico-mail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{1763,103},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo/ico-phone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{1762,1037},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>outgame.png</string>
            <key>size</key>
            <string>{1790,1282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dd0ba3c6f6f4ca7493f30eac7d20b66:ba4d521f2ae71ca8fa98a4036028a964:6b189571179a8292dd8969d6228a5cba$</string>
            <key>textureFileName</key>
            <string>outgame.png</string>
        </dict>
    </dict>
</plist>
