<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-table.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{1334,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottombar/bg-hotro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,62}</string>
                <key>spriteSourceSize</key>
                <string>{102,62}</string>
                <key>textureRect</key>
                <string>{{1,1952},{102,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottombar/bg-thongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,62}</string>
                <key>spriteSourceSize</key>
                <string>{102,62}</string>
                <key>textureRect</key>
                <string>{{105,1952},{102,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottombar/btn-su-kien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,109}</string>
                <key>spriteSourceSize</key>
                <string>{136,109}</string>
                <key>textureRect</key>
                <string>{{1480,1242},{136,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buddy/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{1361,1302},{200,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buddy/block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1299,1192},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy/huykb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1356,1136},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy/locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{499,1990},{18,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buddy/nt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,35}</string>
                <key>spriteSourceSize</key>
                <string>{43,35}</string>
                <key>textureRect</key>
                <string>{{1564,103},{43,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buddy/offline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1564,187},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy/online.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1385,904},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy/tien2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,47}</string>
                <key>spriteSourceSize</key>
                <string>{49,47}</string>
                <key>textureRect</key>
                <string>{{1511,1772},{49,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy/unblock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1299,1192},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily-popup-ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,119}</string>
                <key>spriteSourceSize</key>
                <string>{584,119}</string>
                <key>textureRect</key>
                <string>{{1480,656},{584,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doithuong-vp-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,157}</string>
                <key>spriteSourceSize</key>
                <string>{148,157}</string>
                <key>textureRect</key>
                <string>{{1361,1504},{148,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doithuong-vp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,157}</string>
                <key>spriteSourceSize</key>
                <string>{148,157}</string>
                <key>textureRect</key>
                <string>{{1361,1663},{148,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{841,249}</string>
                <key>spriteSourceSize</key>
                <string>{841,249}</string>
                <key>textureRect</key>
                <string>{{1,1241},{841,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank/head_crown_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{54,40}</string>
                <key>textureRect</key>
                <string>{{1338,1960},{54,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank/head_crown_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{54,40}</string>
                <key>textureRect</key>
                <string>{{1380,1960},{54,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank/head_crown_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{54,40}</string>
                <key>textureRect</key>
                <string>{{1422,1960},{54,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank/vip_icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,24}</string>
                <key>textureRect</key>
                <string>{{1464,1960},{40,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank/vip_icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,23}</string>
                <key>spriteSourceSize</key>
                <string>{38,23}</string>
                <key>textureRect</key>
                <string>{{1385,864},{38,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank/vip_icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,23}</string>
                <key>spriteSourceSize</key>
                <string>{36,23}</string>
                <key>textureRect</key>
                <string>{{1473,1479},{36,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-scene/Progressbar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,21}</string>
                <key>spriteSourceSize</key>
                <string>{100,21}</string>
                <key>textureRect</key>
                <string>{{1564,1},{100,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table-scene/Progressbar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,21}</string>
                <key>spriteSourceSize</key>
                <string>{100,21}</string>
                <key>textureRect</key>
                <string>{{1490,1933},{100,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-scene/background-table.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{1334,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-scene/bg-list-table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,116}</string>
                <key>spriteSourceSize</key>
                <string>{1300,116}</string>
                <key>textureRect</key>
                <string>{{1,753},{1300,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-scene/bg-nmoichoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{1032,368}</string>
                <key>spriteSourceSize</key>
                <string>{1040,380}</string>
                <key>textureRect</key>
                <string>{{1,871},{1032,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-scene/btn-help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1299,944},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-scene/btn-refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1303,864},{78,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table-scene/mtt-list-head-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,37}</string>
                <key>spriteSourceSize</key>
                <string>{2,37}</string>
                <key>textureRect</key>
                <string>{{941,1241},{2,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table-scene/mtt-tab-bar-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{732,81}</string>
                <key>spriteSourceSize</key>
                <string>{732,81}</string>
                <key>textureRect</key>
                <string>{{1337,1},{732,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table-scene/mtt-tab-bar-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,59}</string>
                <key>spriteSourceSize</key>
                <string>{186,59}</string>
                <key>textureRect</key>
                <string>{{209,1952},{186,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-scene/personalCloseIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{1564,148},{37,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table-scene/segment-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1299,58}</string>
                <key>spriteSourceSize</key>
                <string>{1299,58}</string>
                <key>textureRect</key>
                <string>{{1420,1},{1299,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table-scene/vs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{199,143}</string>
                <key>spriteSourceSize</key>
                <string>{203,147}</string>
                <key>textureRect</key>
                <string>{{1207,1741},{199,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbar/bg-naptien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,57}</string>
                <key>spriteSourceSize</key>
                <string>{100,57}</string>
                <key>textureRect</key>
                <string>{{397,1952},{100,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar/bg-user-home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{1352,1822},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar/btn-ban-be.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,71}</string>
                <key>spriteSourceSize</key>
                <string>{103,71}</string>
                <key>textureRect</key>
                <string>{{1511,1479},{103,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbar/btn-doi-thuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,109}</string>
                <key>spriteSourceSize</key>
                <string>{115,109}</string>
                <key>textureRect</key>
                <string>{{1303,753},{115,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar/btn-nap-tien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{1299,1024},{60,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar/btn-tin-nhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,73}</string>
                <key>spriteSourceSize</key>
                <string>{98,73}</string>
                <key>textureRect</key>
                <string>{{1511,1584},{98,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbar/btn-xep-hang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{101,109}</string>
                <key>spriteSourceSize</key>
                <string>{115,109}</string>
                <key>textureRect</key>
                <string>{{1490,1822},{101,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar/coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,95}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{844,1241},{104,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbar/facebook-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,58}</string>
                <key>textureRect</key>
                <string>{{1490,1956},{57,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar/gopy-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{1549,1956},{52,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbar/more.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,70}</string>
                <key>spriteSourceSize</key>
                <string>{86,70}</string>
                <key>textureRect</key>
                <string>{{1511,1684},{86,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbar/setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{1361,1024},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topup/bg-item-card-doithuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,372}</string>
                <key>spriteSourceSize</key>
                <string>{262,372}</string>
                <key>textureRect</key>
                <string>{{1035,871},{262,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topup/chip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,97}</string>
                <key>spriteSourceSize</key>
                <string>{125,97}</string>
                <key>textureRect</key>
                <string>{{1473,1380},{125,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topup/chip3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,90}</string>
                <key>spriteSourceSize</key>
                <string>{129,90}</string>
                <key>textureRect</key>
                <string>{{844,1347},{129,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topup/price_tab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,64}</string>
                <key>spriteSourceSize</key>
                <string>{129,64}</string>
                <key>textureRect</key>
                <string>{{1207,1942},{129,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo/avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,264}</string>
                <key>spriteSourceSize</key>
                <string>{264,264}</string>
                <key>textureRect</key>
                <string>{{941,1741},{264,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo/btn-upload-image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1299,1078},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo/ico-key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1299,1135},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo/ico-phone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1356,1079},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo/user_info_nap_tien_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1562,1772},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo/user_info_row_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{653,82}</string>
                <key>spriteSourceSize</key>
                <string>{653,82}</string>
                <key>textureRect</key>
                <string>{{1480,1},{653,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip-bac.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,440}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{499,1492},{496,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip-kimcuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{496,458}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1492},{496,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip-vang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,418}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{941,1245},{494,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>outgame.png</string>
            <key>size</key>
            <string>{1601,2015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6f9328bdd06ed2ab6e28b63a89ffd0a:8ec4c889c01e30e684db79331fa02309:6b189571179a8292dd8969d6228a5cba$</string>
            <key>textureFileName</key>
            <string>outgame.png</string>
        </dict>
    </dict>
</plist>
