<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>active_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{799,433},{65,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>active_group_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{717,425},{64,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_caothap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{670,480}</string>
                <key>spriteSourceSize</key>
                <string>{674,480}</string>
                <key>textureRect</key>
                <string>{{45,1},{670,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{554,513},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_luotmoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,70}</string>
                <key>textureRect</key>
                <string>{{806,194},{164,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,191}</string>
                <key>spriteSourceSize</key>
                <string>{150,191}</string>
                <key>textureRect</key>
                <string>{{717,1},{150,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{81,77}</string>
                <key>spriteSourceSize</key>
                <string>{81,79}</string>
                <key>textureRect</key>
                <string>{{717,267},{81,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{453,483},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{571,513},{15,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>countdown_clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{491,483},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{551,483},{25,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ellipse_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{800,360},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>group_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{71,87}</string>
                <key>spriteSourceSize</key>
                <string>{73,89}</string>
                <key>textureRect</key>
                <string>{{717,194},{71,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{521,483},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>i.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,28}</string>
                <key>spriteSourceSize</key>
                <string>{15,28}</string>
                <key>textureRect</key>
                <string>{{524,513},{15,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{491,515},{14,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rounded_rectangle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{224,50}</string>
                <key>spriteSourceSize</key>
                <string>{226,52}</string>
                <key>textureRect</key>
                <string>{{45,483},{224,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rounded_rectangle_625.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{180,49}</string>
                <key>spriteSourceSize</key>
                <string>{182,51}</string>
                <key>textureRect</key>
                <string>{{271,483},{180,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rounded_rectangle_626.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{533,42}</string>
                <key>spriteSourceSize</key>
                <string>{535,44}</string>
                <key>textureRect</key>
                <string>{{1,1},{533,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{507,515},{15,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{81,77}</string>
                <key>spriteSourceSize</key>
                <string>{81,79}</string>
                <key>textureRect</key>
                <string>{{717,346},{81,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>caothap2.png</string>
            <key>size</key>
            <string>{877,535}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:745bdc14a759b0c3a06b11730832e441:c21719dc21ef46d8436ba453b7a76e3a:5c32735c0d8d9cb220e03473f721bb6e$</string>
            <key>textureFileName</key>
            <string>caothap2.png</string>
        </dict>
    </dict>
</plist>
