<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,24}</string>
                <key>textureRect</key>
                <string>{{255,1104},{36,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{844,982},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_group_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{845,916},{64,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>arrow-bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,82}</string>
                <key>spriteSourceSize</key>
                <string>{137,82}</string>
                <key>textureRect</key>
                <string>{{538,1058},{137,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow-top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,82}</string>
                <key>spriteSourceSize</key>
                <string>{139,82}</string>
                <key>textureRect</key>
                <string>{{677,997},{139,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_caothap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,480}</string>
                <key>spriteSourceSize</key>
                <string>{674,480}</string>
                <key>textureRect</key>
                <string>{{1,576},{674,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_dialog_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{947,573}</string>
                <key>spriteSourceSize</key>
                <string>{947,573}</string>
                <key>textureRect</key>
                <string>{{1,1},{947,573}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{761,953},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_luotmoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,70}</string>
                <key>textureRect</key>
                <string>{{829,576},{164,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_luotmoi_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,59}</string>
                <key>spriteSourceSize</key>
                <string>{158,59}</string>
                <key>textureRect</key>
                <string>{{784,769},{158,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,191}</string>
                <key>spriteSourceSize</key>
                <string>{150,191}</string>
                <key>textureRect</key>
                <string>{{677,576},{150,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,79}</string>
                <key>spriteSourceSize</key>
                <string>{81,79}</string>
                <key>textureRect</key>
                <string>{{845,833},{81,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>close_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{901,627},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{293,1104},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>countdown_clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{731,953},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{901,707},{25,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ellipse_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{761,1061},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>group_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,89}</string>
                <key>spriteSourceSize</key>
                <string>{73,89}</string>
                <key>textureRect</key>
                <string>{{845,742},{73,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{901,677},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>i.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,28}</string>
                <key>spriteSourceSize</key>
                <string>{15,28}</string>
                <key>textureRect</key>
                <string>{{255,1130},{15,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_first.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,49}</string>
                <key>spriteSourceSize</key>
                <string>{47,49}</string>
                <key>textureRect</key>
                <string>{{901,576},{47,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_second.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,49}</string>
                <key>spriteSourceSize</key>
                <string>{62,49}</string>
                <key>textureRect</key>
                <string>{{844,1050},{62,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_third.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,49}</string>
                <key>spriteSourceSize</key>
                <string>{58,49}</string>
                <key>textureRect</key>
                <string>{{784,929},{58,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{313,1104},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rounded_rectangle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,52}</string>
                <key>spriteSourceSize</key>
                <string>{226,52}</string>
                <key>textureRect</key>
                <string>{{677,769},{226,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rounded_rectangle_625.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,51}</string>
                <key>spriteSourceSize</key>
                <string>{182,51}</string>
                <key>textureRect</key>
                <string>{{731,769},{182,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rounded_rectangle_626.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,44}</string>
                <key>spriteSourceSize</key>
                <string>{535,44}</string>
                <key>textureRect</key>
                <string>{{1,1058},{535,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{333,1104},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,79}</string>
                <key>spriteSourceSize</key>
                <string>{81,79}</string>
                <key>textureRect</key>
                <string>{{761,980},{81,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titlecong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,41}</string>
                <key>spriteSourceSize</key>
                <string>{252,41}</string>
                <key>textureRect</key>
                <string>{{1,1104},{252,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>caothap2.png</string>
            <key>size</key>
            <string>{949,1146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8acb53ff98ce628e9d5d6460f9374873:0a40e82016bf07bdf91e73ba8f49ba2c:5c32735c0d8d9cb220e03473f721bb6e$</string>
            <key>textureFileName</key>
            <string>caothap2.png</string>
        </dict>
    </dict>
</plist>
