<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,24}</string>
                <key>textureRect</key>
                <string>{{31,1111},{36,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{629,1058},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_group_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{69,1058},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow-bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,82}</string>
                <key>spriteSourceSize</key>
                <string>{137,82}</string>
                <key>textureRect</key>
                <string>{{858,895},{137,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>arrow-top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,82}</string>
                <key>spriteSourceSize</key>
                <string>{139,82}</string>
                <key>textureRect</key>
                <string>{{717,892},{139,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_caothap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{670,480}</string>
                <key>spriteSourceSize</key>
                <string>{674,480}</string>
                <key>textureRect</key>
                <string>{{45,576},{670,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_dialog_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{947,573}</string>
                <key>spriteSourceSize</key>
                <string>{947,573}</string>
                <key>textureRect</key>
                <string>{{1,1},{947,573}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{45,1091},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_luotmoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,70}</string>
                <key>textureRect</key>
                <string>{{463,1058},{164,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_luotmoi_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,59}</string>
                <key>spriteSourceSize</key>
                <string>{158,59}</string>
                <key>textureRect</key>
                <string>{{717,831},{158,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,191}</string>
                <key>spriteSourceSize</key>
                <string>{150,191}</string>
                <key>textureRect</key>
                <string>{{717,628},{150,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{81,77}</string>
                <key>spriteSourceSize</key>
                <string>{81,79}</string>
                <key>textureRect</key>
                <string>{{135,1058},{81,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{766,976},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{773,1101},{15,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>countdown_clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{696,1101},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{1,1111},{25,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ellipse_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{390,1058},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>group_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{71,87}</string>
                <key>spriteSourceSize</key>
                <string>{73,89}</string>
                <key>textureRect</key>
                <string>{{301,1058},{71,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{726,1101},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>i.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,28}</string>
                <key>spriteSourceSize</key>
                <string>{15,28}</string>
                <key>textureRect</key>
                <string>{{756,1101},{15,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_first.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,49}</string>
                <key>spriteSourceSize</key>
                <string>{47,49}</string>
                <key>textureRect</key>
                <string>{{717,976},{47,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_second.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,49}</string>
                <key>spriteSourceSize</key>
                <string>{62,49}</string>
                <key>textureRect</key>
                <string>{{899,780},{62,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_third.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,49}</string>
                <key>spriteSourceSize</key>
                <string>{58,49}</string>
                <key>textureRect</key>
                <string>{{877,844},{58,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{45,1058},{14,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rounded_rectangle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{224,50}</string>
                <key>spriteSourceSize</key>
                <string>{226,52}</string>
                <key>textureRect</key>
                <string>{{717,576},{224,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rounded_rectangle_625.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{180,49}</string>
                <key>spriteSourceSize</key>
                <string>{182,51}</string>
                <key>textureRect</key>
                <string>{{717,780},{180,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rounded_rectangle_626.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{533,42}</string>
                <key>spriteSourceSize</key>
                <string>{535,44}</string>
                <key>textureRect</key>
                <string>{{1,576},{533,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{45,1074},{15,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{81,77}</string>
                <key>spriteSourceSize</key>
                <string>{81,79}</string>
                <key>textureRect</key>
                <string>{{218,1058},{81,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titlecong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,41}</string>
                <key>spriteSourceSize</key>
                <string>{252,41}</string>
                <key>textureRect</key>
                <string>{{696,1058},{252,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>caothap2.png</string>
            <key>size</key>
            <string>{949,1139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed51603181dcfeae2ac9fd5816631154:7378f3effecd50382c59c327d18d2ca1:5c32735c0d8d9cb220e03473f721bb6e$</string>
            <key>textureFileName</key>
            <string>caothap2.png</string>
        </dict>
    </dict>
</plist>
